*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-content-zooming: none;
  touch-action: pan-x pan-y;
}
a:active,
a:focus,
a:hover {
  outline: 0;
}
[hidden] {
  display: none;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
embed,
object,
iframe,
audio,
video,
canvas,
progress,
meter,
output,
textarea {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
blockquote,
q {
  quotes: none;
}
blockquote p:before,
blockquote p:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
caption,
th,
td {
  text-align: left;
  vertical-align: top;
}
thead th,
thead td {
  font-weight: bold;
  vertical-align: bottom;
}
a img,
th img,
td img {
  vertical-align: top;
}
button,
input,
select,
textarea {
  margin: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}
button {
  width: auto;
  overflow: visible;
}
input[type="reset"],
input[type="submit"],
input[type="file"],
input[type="radio"],
input[type="checkbox"],
select,
button {
  cursor: pointer;
}
input[type="radio"],
input[type="checkbox"] {
  font-size: 110%;
  position: relative;
  top: -1px;
  margin-right: 3px;
}
input[type="search"] {
  -webkit-appearance: textfield;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
hr {
  display: block;
  height: 1px;
  border: 0;
}
menu,
nav ul,
nav ol {
  padding: 0;
  list-style: none;
  list-style-image: none;
}
img,
video,
audio,
embed,
object {
  max-width: 100%;
}
img,
video,
embed,
object {
  height: auto;
}
embed,
object {
  height: 100%;
}
img {
  vertical-align: middle;
  -ms-interpolation-mode: bicubic;
}
.hide {
  display: none;
}
.width-100 {
  width: 100%;
}
.width-50 {
  width: 50%;
}
.xl {
  font-size: 1.5em;
}
.lg {
  font-size: 1.2em;
}
.md {
  font-size: 1em;
}
.sm {
  font-size: 0.85em;
}
.xs {
  font-size: 0.75em;
}
.nowrap,
.nowrap td {
  white-space: nowrap;
}
.group:after {
  content: "";
  display: table;
  clear: both;
}
.pull-center {
  margin-left: auto;
  margin-right: auto;
}
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
.pull-middle {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-old {
  color: #565d64;
  text-decoration: line-through;
}
.text-help {
  color: #565d64;
  font-size: 0.85em;
}
dnf[title].text-help,
abbr[title].text-help,
.text-help dnf[title],
.text-help abbr[title] {
  border-bottom-color: #565d64;
}
.text-for-field {
  display: block;
  margin-top: .25em;
  color: #565d64;
  font-size: 0.85em;
  line-height: 1;
  text-align: center;
}
.text-primary {
  color: #105c9a;
}
.text-secondary {
  color: #56b9d9;
}
.text-success {
  color: #1cb841;
}
.text-warning {
  color: #df7514;
}
.text-error {
  color: #ca3c3c;
}
.text-gray {
  color: #565d64;
}
.text-invert {
  color: white;
}
.bg-primary {
  background-color: #105c9a;
}
.bg-secondary {
  background-color: #56b9d9;
}
.bg-success {
  background-color: #1cb841;
}
.bg-warning {
  background-color: #df7514;
}
.bg-error {
  background-color: #ca3c3c;
}
.bg-gray {
  background-color: #565d64;
}
body {
  font-family: "Helvetica Neue", Helvetica, Tahoma, sans-serif;
  font-size: 15px;
  line-height: 1.65em;
  background: #ffffff;
  color: #222222;
}
a {
  color: #003f56;
  text-decoration: underline;
  outline: none;
  -webkit-transition: color 0.2s, background 0.2s, border-color 0.2s, transform 0.2s;
  transition: color 0.2s, background 0.2s, border-color 0.2s, transform 0.2s;
}
a:hover {
  color: #0076a3;
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Helvetica Neue", Helvetica, Tahoma, sans-serif;
  font-weight: normal;
  color: black;
  text-rendering: optimizeLegibility;
  margin: 1.65em 0 0.5em;
}
h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child,
.h1:first-child,
.h2:first-child,
.h3:first-child,
.h4:first-child,
.h5:first-child,
.h6:first-child {
  margin-top: 0;
}
h1,
.h1 {
  font-size: 2em;
  line-height: 1.1;
}
h2,
.h2 {
  font-size: 1.5em;
  line-height: 1.1;
}
h3,
.h3 {
  font-size: 1.3125em;
  line-height: 1.3;
}
h4,
.h4 {
  font-size: 1.125em;
  line-height: 1.3;
}
h5,
.h5 {
  font-size: 1em;
}
h6,
.h6 {
  font-size: .75em;
  text-transform: uppercase;
}
p,
ul,
ol,
dl,
dd,
dt,
blockquote,
td,
th {
  line-height: 1.65em;
}
p,
ul,
ol,
dl,
blockquote,
hr,
pre,
nav,
table,
form,
fieldset,
figure,
address {
  margin: 0 0 1em;
}
ul,
ol {
  padding-left: 2em;
}
ul > li,
ol > li {
  text-align: left;
}
ul.flat,
ol.flat {
  padding-left: 0;
  list-style: none;
}
ul ul,
ol ol,
ul ol,
ol ul,
nav ul {
  margin-bottom: 0;
}
ol ol li {
  list-style-type: lower-alpha;
}
ol ol ol li {
  list-style-type: lower-roman;
}
blockquote {
  position: relative;
  font-style: italic;
  margin-left: 2.5em;
  padding-left: 1.5em;
  border-left: 2px solid #bdbdbd;
}
blockquote p {
  margin-bottom: .5em;
}
blockquote small,
cite {
  color: #bdbdbd;
  font-style: italic;
}
small,
blockquote cite {
  font-size: 0.85em;
  line-height: 1;
}
dl dt {
  font-weight: bold;
}
dl dd {
  margin-left: 2.5em;
}
hr {
  background-color: #bdbdbd;
}
address {
  font-style: normal;
}
s,
del {
  text-decoration: line-through;
}
abbr[title],
dfn[title] {
  border-bottom: 1px dashed #222222;
  cursor: help;
}
strong,
b {
  font-weight: bold;
}
em,
i {
  font-style: italic;
}
sub,
sup {
  font-size: 0.75em;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
figcaption {
  margin: .3em 0;
  font-size: 0.85em;
  font-style: italic;
}
ins,
u {
  text-decoration: underline;
}
mark {
  background-color: #df7514;
  color: black;
  text-decoration: none;
}
pre,
code,
kbd,
samp,
var {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  font-style: normal;
}
pre {
  margin-top: 1em;
  font-size: 1em;
  line-height: 1.5;
  color: #222222;
  overflow: auto;
}
code,
samp,
kbd {
  font-size: .9em;
  padding: 0.1em 0.3em;
  display: inline-block;
  line-height: 1;
  border-radius: 2px;
}
code {
  background-color: #f4f4f4;
  border: 1px solid #bdbdbd;
}
pre code {
  font-size: 1em;
  border: none;
  padding: 0;
  background: none;
  line-height: 1.2;
}
var {
  color: rgba(0, 0, 0, 0.5);
}
samp {
  background: #ffffff;
  border: 1px solid #56b9d9;
}
kbd {
  background: black;
  color: rgba(255, 255, 255, 0.85);
  white-space: nowrap;
}
.container {
  padding: 0 1em;
}
.container-sm {
  padding: 0 1em;
  margin-left: auto;
  margin-right: auto;
  max-width: 35.5em;
}
.container-md {
  padding: 0 1em;
  margin-left: auto;
  margin-right: auto;
  max-width: 48em;
}
.container-lg {
  padding: 0 1em;
  margin-left: auto;
  margin-right: auto;
  max-width: 64em;
}
.container-xl {
  padding: 0 1em;
  margin-left: auto;
  margin-right: auto;
  max-width: 80em;
}
.container-responsive {
  margin-left: auto;
  margin-right: auto;
  padding: 0 1em;
}
@media screen and (min-width: 35.5em) {
  .container-responsive {
    max-width: 35.5em;
  }
}
@media screen and (min-width: 48em) {
  .container-responsive {
    max-width: 48em;
  }
}
@media screen and (min-width: 64em) {
  .container-responsive {
    max-width: 64em;
  }
}
@media screen and (min-width: 80em) {
  .container-responsive {
    max-width: 80em;
  }
}
.row,
.row-flat,
[class|="blocks"],
.form > section:not(.controls),
form:not(.flat) > section:not(.controls) {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: flext-start;
}
.row:after,
.row-flat:after,
[class|="blocks"]:after,
.form > section:not(.controls):after,
form:not(.flat) > section:not(.controls):after {
  content: "";
  display: table;
  clear: both;
}
.row > *,
.row-flat > *,
[class|="blocks"] > *,
.form > section:not(.controls) > *,
form:not(.flat) > section:not(.controls) > * {
  display: block;
}
.row,
[class|="blocks"] {
  margin: 0 -1em;
}
.row > *,
[class|="blocks"] > * {
  border-left: 1em solid transparent;
  border-right: 1em solid transparent;
  margin-bottom: 1em;
  background-clip: content-box;
}
.col-1 {
  width: 8.3333%;
}
.col-2,
.col-1-6 {
  width: 16.6667%;
}
.col-3,
.col-1-4,
.form > section:not(.controls) > label,
form:not(.flat) > section:not(.controls) > label {
  width: 25%;
}
.col-4,
.col-1-3 {
  width: 33.3333%;
}
.col-5 {
  width: 41.6667%;
}
.col-6,
.col-1-2 {
  width: 50%;
}
.col-7 {
  width: 58.3333%;
}
.col-8,
.col-2-3 {
  width: 66.6667%;
}
.col-9,
.col-3-4,
.form > section:not(.controls) > output,
.form > section:not(.controls) > input,
.form > section:not(.controls) > textarea,
.form > section:not(.controls) > select,
.form > section:not(.controls) > div,
form:not(.flat) > section:not(.controls) > output,
form:not(.flat) > section:not(.controls) > input,
form:not(.flat) > section:not(.controls) > textarea,
form:not(.flat) > section:not(.controls) > select,
form:not(.flat) > section:not(.controls) > div {
  width: 75%;
}
.col-10,
.col-5-6 {
  width: 83.3333%;
}
.col-11 {
  width: 91.6667%;
}
.col-12,
.col-1-1,
.col-5-5 {
  width: 100%;
}
.col-1-5 {
  width: 20%;
}
.col-2-5 {
  width: 40%;
}
.col-3-5 {
  width: 60%;
}
.col-4-5 {
  width: 80%;
}
.col-offset-1 {
  margin-left: 8.3333%;
}
.col-offset-2 .col-offset-1-6 {
  margin-left: 16.6667%;
}
.col-offset-3,
.col-offset-1-4,
.form > section.controls,
form:not(.flat) > section.controls {
  margin-left: 25%;
}
.col-offset-4,
.col-offset-1-3 {
  margin-left: 33.3333%;
}
.col-offset-5 {
  margin-left: 41.6667%;
}
.col-offset-6,
.col-offset-1-2 {
  margin-left: 50%;
}
.col-offset-7 {
  margin-left: 58.3333%;
}
.col-offset-8,
.col-offset-2-3 {
  margin-left: 66.6667%;
}
.col-offset-9,
.col-offset-3-4 {
  margin-left: 75%;
}
.col-offset-10,
.col-offset-5-6 {
  margin-left: 83.3333%;
}
.col-offset-11 {
  margin-left: 91.6667%;
}
.col-offset-1-5 {
  margin-left: 20%;
}
.col-offset-2-5 {
  margin-left: 40%;
}
.col-offset-3-5 {
  margin-left: 60%;
}
.col-offset-4-5 {
  margin-left: 80%;
}
@media only screen and (max-width: 35.5em) {
  .row > *,
  .row-flat > *,
  [class|="blocks"] > *,
  .form > section:not(.controls) > *,
  form:not(.flat) > section:not(.controls) > * {
    width: 100%;
    margin-left: 0;
  }
}
[class|="blocks"] {
  list-style: none;
  padding: 0;
}
[class|="blocks"] > * {
  text-align: center;
}
.blocks-1 > * {
  width: 100%;
}
.blocks-2 > * {
  width: 50%;
}
.blocks-3 > * {
  width: 33.3333%;
}
.blocks-4 > * {
  width: 25%;
}
.blocks-5 > * {
  width: 20%;
}
.blocks-6 > * {
  width: 16.6667%;
}
.blocks-7 > * {
  width: 14.2857%;
}
.blocks-8 > * {
  width: 12.5%;
}
.blocks-9 > * {
  width: 11.1111%;
}
.blocks-10 > * {
  width: 10%;
}
@media only screen and (max-width: 35.5em) {
  [class|="blocks"] > * {
    width: 100%;
  }
}
input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="phone"],
input[type="tel"],
input[type="number"],
input[type="datetime"],
input[type="date"],
input[type="month"],
input[type="color"],
input[type="time"],
input[type="search"],
input[type="datetime-local"],
textarea,
select {
  font-family: "Helvetica Neue", Helvetica, Tahoma, sans-serif;
  box-shadow: none;
  outline: none;
  position: relative;
  z-index: 2;
  -webkit-appearance: none;
  background: white;
  border: 1px solid #bdbdbd;
  border-radius: 2px;
  padding: 0.3em 0.5em;
  vertical-align: middle;
  -webkit-transition: color 0.2s, background 0.2s, border-color 0.2s, transform 0.2s;
  transition: color 0.2s, background 0.2s, border-color 0.2s, transform 0.2s;
}
input[type="text"][disabled],
input[type="password"][disabled],
input[type="email"][disabled],
input[type="url"][disabled],
input[type="phone"][disabled],
input[type="tel"][disabled],
input[type="number"][disabled],
input[type="datetime"][disabled],
input[type="date"][disabled],
input[type="month"][disabled],
input[type="color"][disabled],
input[type="time"][disabled],
input[type="search"][disabled],
input[type="datetime-local"][disabled],
textarea[disabled],
select[disabled] {
  resize: none;
  color: #b4b4b4;
  background: #f4f4f4;
  cursor: not-allowed;
}
input[type="text"]:active,
input[type="password"]:active,
input[type="email"]:active,
input[type="url"]:active,
input[type="phone"]:active,
input[type="tel"]:active,
input[type="number"]:active,
input[type="datetime"]:active,
input[type="date"]:active,
input[type="month"]:active,
input[type="color"]:active,
input[type="time"]:active,
input[type="search"]:active,
input[type="datetime-local"]:active,
textarea:active,
select:active,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="phone"]:focus,
input[type="tel"]:focus,
input[type="number"]:focus,
input[type="datetime"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="color"]:focus,
input[type="time"]:focus,
input[type="search"]:focus,
input[type="datetime-local"]:focus,
textarea:focus,
select:focus {
  border-color: #105c9a;
}
input[type="text"]:-ms-input-placeholder,
input[type="password"]:-ms-input-placeholder,
input[type="email"]:-ms-input-placeholder,
input[type="url"]:-ms-input-placeholder,
input[type="phone"]:-ms-input-placeholder,
input[type="tel"]:-ms-input-placeholder,
input[type="number"]:-ms-input-placeholder,
input[type="datetime"]:-ms-input-placeholder,
input[type="date"]:-ms-input-placeholder,
input[type="month"]:-ms-input-placeholder,
input[type="color"]:-ms-input-placeholder,
input[type="time"]:-ms-input-placeholder,
input[type="search"]:-ms-input-placeholder,
input[type="datetime-local"]:-ms-input-placeholder,
textarea:-ms-input-placeholder,
select:-ms-input-placeholder {
  color: #565d64;
}
input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="phone"],
input[type="tel"],
input[type="number"],
input[type="datetime"],
input[type="date"],
input[type="month"],
input[type="color"],
input[type="time"],
input[type="search"],
input[type="datetime-local"] {
  line-height: 1.65em;
}
textarea,
select[multiple],
select[multiple="multiple"] {
  line-height: 1.35em;
  width: 100%;
}
select[disabled],
input[type="checkbox"][disabled],
input[type="radio"][disabled] {
  cursor: default;
}
input::-moz-focus-inner,
button::-moz-focus-inner {
  border: 0;
  padding: 0;
}
button:active,
button:focus {
  outline: none;
}
input[type="range"] {
  position: relative;
  top: 3px;
}
select {
  margin-bottom: 0 !important;
}
input.width-xs,
button.width-xs,
textarea.width-xs,
select.width-xs,
label.width-xs,
form.width-xs,
fieldset.width-xs {
  max-width: 12em;
}
input.width-sm,
button.width-sm,
textarea.width-sm,
select.width-sm,
label.width-sm,
form.width-sm,
fieldset.width-sm {
  max-width: 24em;
}
input.width-md,
button.width-md,
textarea.width-md,
select.width-md,
label.width-md,
form.width-md,
fieldset.width-md {
  max-width: 36em;
}
input.width-lg,
button.width-lg,
textarea.width-lg,
select.width-lg,
label.width-lg,
form.width-lg,
fieldset.width-lg {
  max-width: 48em;
}
input.width-xl,
button.width-xl,
textarea.width-xl,
select.width-xl,
label.width-xl,
form.width-xl,
fieldset.width-xl {
  max-width: 64em;
}
.btn,
button[type="submit"],
input[type="submit"],
button[type="button"],
button:not([type]),
input[type="button"],
input[type="reset"] {
  display: inline-block;
  vertical-align: baseline;
  font-family: "Helvetica Neue", Helvetica, Tahoma, sans-serif;
  font-weight: normal;
  line-height: 1.65em;
  text-align: center;
  text-decoration: none;
  -webkit-appearance: none;
  outline: none;
  box-shadow: none;
  cursor: pointer;
  border: 1px solid;
  border-radius: 4px;
  padding: 0.3em 1em;
  -webkit-transition: color 0.2s, background 0.2s, border-color 0.2s, transform 0.2s;
  transition: color 0.2s, background 0.2s, border-color 0.2s, transform 0.2s;
}
.btn::-moz-focus-inner,
button[type="submit"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
button[type="button"]::-moz-focus-inner,
button:not([type])::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner {
  border: 0;
  padding: 0;
}
.btn[disabled],
.btn.disabled,
button[type="submit"][disabled],
button[type="submit"].disabled,
input[type="submit"][disabled],
input[type="submit"].disabled,
button[type="button"][disabled],
button[type="button"].disabled,
button:not([type])[disabled],
button:not([type]).disabled,
input[type="button"][disabled],
input[type="button"].disabled,
input[type="reset"][disabled],
input[type="reset"].disabled {
  cursor: not-allowed;
  box-shadow: none;
  color: #b4b4b4 !important;
  background: #f4f4f4 !important;
}
.btn:active,
.btn.active,
button[type="submit"]:active,
button[type="submit"].active,
input[type="submit"]:active,
input[type="submit"].active,
button[type="button"]:active,
button[type="button"].active,
button:not([type]):active,
button:not([type]).active,
input[type="button"]:active,
input[type="button"].active,
input[type="reset"]:active,
input[type="reset"].active {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4) inset;
}
.btn:not(.outline),
button[type="submit"]:not(.outline),
input[type="submit"]:not(.outline),
button[type="button"]:not(.outline),
button:not([type]):not(.outline),
input[type="button"]:not(.outline),
input[type="reset"]:not(.outline) {
  color: white;
  background: #aaaaaa;
  border-color: #9d9d9d;
}
.btn:not(.outline):hover:not(:active):not(.active),
button[type="submit"]:not(.outline):hover:not(:active):not(.active),
input[type="submit"]:not(.outline):hover:not(:active):not(.active),
button[type="button"]:not(.outline):hover:not(:active):not(.active),
button:not([type]):not(.outline):hover:not(:active):not(.active),
input[type="button"]:not(.outline):hover:not(:active):not(.active),
input[type="reset"]:not(.outline):hover:not(:active):not(.active) {
  background: #848484;
  border-color: #848484;
}
.btn:not(.outline).primary,
button[type="submit"]:not(.outline).primary,
input[type="submit"]:not(.outline).primary,
button[type="button"]:not(.outline).primary,
button:not([type]):not(.outline).primary,
input[type="button"]:not(.outline).primary,
input[type="reset"]:not(.outline).primary {
  color: white;
  background: #105c9a;
  border-color: #0e4e83;
}
.btn:not(.outline).primary:hover:not(:active):not(.active),
button[type="submit"]:not(.outline).primary:hover:not(:active):not(.active),
input[type="submit"]:not(.outline).primary:hover:not(:active):not(.active),
button[type="button"]:not(.outline).primary:hover:not(:active):not(.active),
button:not([type]):not(.outline).primary:hover:not(:active):not(.active),
input[type="button"]:not(.outline).primary:hover:not(:active):not(.active),
input[type="reset"]:not(.outline).primary:hover:not(:active):not(.active) {
  background: #093355;
  border-color: #093355;
}
.btn:not(.outline).secondary,
button[type="submit"]:not(.outline).secondary,
input[type="submit"]:not(.outline).secondary,
button[type="button"]:not(.outline).secondary,
button:not([type]):not(.outline).secondary,
input[type="button"]:not(.outline).secondary,
input[type="reset"]:not(.outline).secondary {
  color: white;
  background: #56b9d9;
  border-color: #41b0d4;
}
.btn:not(.outline).secondary:hover:not(:active):not(.active),
button[type="submit"]:not(.outline).secondary:hover:not(:active):not(.active),
input[type="submit"]:not(.outline).secondary:hover:not(:active):not(.active),
button[type="button"]:not(.outline).secondary:hover:not(:active):not(.active),
button:not([type]):not(.outline).secondary:hover:not(:active):not(.active),
input[type="button"]:not(.outline).secondary:hover:not(:active):not(.active),
input[type="reset"]:not(.outline).secondary:hover:not(:active):not(.active) {
  background: #2a96b9;
  border-color: #2a96b9;
}
.btn:not(.outline).success,
button[type="submit"]:not(.outline).success,
input[type="submit"]:not(.outline).success,
button[type="button"]:not(.outline).success,
button:not([type]):not(.outline).success,
input[type="button"]:not(.outline).success,
input[type="reset"]:not(.outline).success {
  color: white;
  background: #1cb841;
  border-color: #19a239;
}
.btn:not(.outline).success:hover:not(:active):not(.active),
button[type="submit"]:not(.outline).success:hover:not(:active):not(.active),
input[type="submit"]:not(.outline).success:hover:not(:active):not(.active),
button[type="button"]:not(.outline).success:hover:not(:active):not(.active),
button:not([type]):not(.outline).success:hover:not(:active):not(.active),
input[type="button"]:not(.outline).success:hover:not(:active):not(.active),
input[type="reset"]:not(.outline).success:hover:not(:active):not(.active) {
  background: #12762a;
  border-color: #12762a;
}
.btn:not(.outline).warning,
button[type="submit"]:not(.outline).warning,
input[type="submit"]:not(.outline).warning,
button[type="button"]:not(.outline).warning,
button:not([type]):not(.outline).warning,
input[type="button"]:not(.outline).warning,
input[type="reset"]:not(.outline).warning {
  color: white;
  background: #df7514;
  border-color: #c86912;
}
.btn:not(.outline).warning:hover:not(:active):not(.active),
button[type="submit"]:not(.outline).warning:hover:not(:active):not(.active),
input[type="submit"]:not(.outline).warning:hover:not(:active):not(.active),
button[type="button"]:not(.outline).warning:hover:not(:active):not(.active),
button:not([type]):not(.outline).warning:hover:not(:active):not(.active),
input[type="button"]:not(.outline).warning:hover:not(:active):not(.active),
input[type="reset"]:not(.outline).warning:hover:not(:active):not(.active) {
  background: #99500e;
  border-color: #99500e;
}
.btn:not(.outline).error,
button[type="submit"]:not(.outline).error,
input[type="submit"]:not(.outline).error,
button[type="button"]:not(.outline).error,
button:not([type]):not(.outline).error,
input[type="button"]:not(.outline).error,
input[type="reset"]:not(.outline).error {
  color: white;
  background: #ca3c3c;
  border-color: #ba3333;
}
.btn:not(.outline).error:hover:not(:active):not(.active),
button[type="submit"]:not(.outline).error:hover:not(:active):not(.active),
input[type="submit"]:not(.outline).error:hover:not(:active):not(.active),
button[type="button"]:not(.outline).error:hover:not(:active):not(.active),
button:not([type]):not(.outline).error:hover:not(:active):not(.active),
input[type="button"]:not(.outline).error:hover:not(:active):not(.active),
input[type="reset"]:not(.outline).error:hover:not(:active):not(.active) {
  background: #922828;
  border-color: #922828;
}
.btn:not(.outline).link,
button[type="submit"]:not(.outline).link,
input[type="submit"]:not(.outline).link,
button[type="button"]:not(.outline).link,
button:not([type]):not(.outline).link,
input[type="button"]:not(.outline).link,
input[type="reset"]:not(.outline).link {
  color: #003f56;
  background: none !important;
  border-color: transparent !important;
  text-decoration: underline;
}
.btn:not(.outline).link:hover,
button[type="submit"]:not(.outline).link:hover,
input[type="submit"]:not(.outline).link:hover,
button[type="button"]:not(.outline).link:hover,
button:not([type]):not(.outline).link:hover,
input[type="button"]:not(.outline).link:hover,
input[type="reset"]:not(.outline).link:hover {
  color: #0076a3;
  text-decoration: none;
}
.btn.outline,
button[type="submit"].outline,
input[type="submit"].outline,
button[type="button"].outline,
button:not([type]).outline,
input[type="button"].outline,
input[type="reset"].outline {
  background: none;
  color: #222222;
  border-color: #222222;
}
.btn.outline:hover,
button[type="submit"].outline:hover,
input[type="submit"].outline:hover,
button[type="button"].outline:hover,
button:not([type]).outline:hover,
input[type="button"].outline:hover,
input[type="reset"].outline:hover {
  color: white;
  background: #222222;
}
.btn.outline[disabled],
.btn.outline.disabled,
button[type="submit"].outline[disabled],
button[type="submit"].outline.disabled,
input[type="submit"].outline[disabled],
input[type="submit"].outline.disabled,
button[type="button"].outline[disabled],
button[type="button"].outline.disabled,
button:not([type]).outline[disabled],
button:not([type]).outline.disabled,
input[type="button"].outline[disabled],
input[type="button"].outline.disabled,
input[type="reset"].outline[disabled],
input[type="reset"].outline.disabled {
  background: none !important;
  box-shadow: none;
}
.btn.outline.primary,
button[type="submit"].outline.primary,
input[type="submit"].outline.primary,
button[type="button"].outline.primary,
button:not([type]).outline.primary,
input[type="button"].outline.primary,
input[type="reset"].outline.primary {
  color: #105c9a;
  border-color: #105c9a;
}
.btn.outline.primary:hover,
button[type="submit"].outline.primary:hover,
input[type="submit"].outline.primary:hover,
button[type="button"].outline.primary:hover,
button:not([type]).outline.primary:hover,
input[type="button"].outline.primary:hover,
input[type="reset"].outline.primary:hover {
  color: white;
  background: #105c9a;
}
.btn.outline.secondary,
button[type="submit"].outline.secondary,
input[type="submit"].outline.secondary,
button[type="button"].outline.secondary,
button:not([type]).outline.secondary,
input[type="button"].outline.secondary,
input[type="reset"].outline.secondary {
  color: #56b9d9;
  border-color: #56b9d9;
}
.btn.outline.secondary:hover,
button[type="submit"].outline.secondary:hover,
input[type="submit"].outline.secondary:hover,
button[type="button"].outline.secondary:hover,
button:not([type]).outline.secondary:hover,
input[type="button"].outline.secondary:hover,
input[type="reset"].outline.secondary:hover {
  color: white;
  background: #56b9d9;
}
.btn.outline.success,
button[type="submit"].outline.success,
input[type="submit"].outline.success,
button[type="button"].outline.success,
button:not([type]).outline.success,
input[type="button"].outline.success,
input[type="reset"].outline.success {
  color: #1cb841;
  border-color: #1cb841;
}
.btn.outline.success:hover,
button[type="submit"].outline.success:hover,
input[type="submit"].outline.success:hover,
button[type="button"].outline.success:hover,
button:not([type]).outline.success:hover,
input[type="button"].outline.success:hover,
input[type="reset"].outline.success:hover {
  color: white;
  background: #1cb841;
}
.btn.outline.warning,
button[type="submit"].outline.warning,
input[type="submit"].outline.warning,
button[type="button"].outline.warning,
button:not([type]).outline.warning,
input[type="button"].outline.warning,
input[type="reset"].outline.warning {
  color: #df7514;
  border-color: #df7514;
}
.btn.outline.warning:hover,
button[type="submit"].outline.warning:hover,
input[type="submit"].outline.warning:hover,
button[type="button"].outline.warning:hover,
button:not([type]).outline.warning:hover,
input[type="button"].outline.warning:hover,
input[type="reset"].outline.warning:hover {
  color: white;
  background: #df7514;
}
.btn.outline.error,
button[type="submit"].outline.error,
input[type="submit"].outline.error,
button[type="button"].outline.error,
button:not([type]).outline.error,
input[type="button"].outline.error,
input[type="reset"].outline.error {
  color: #ca3c3c;
  border-color: #ca3c3c;
}
.btn.outline.error:hover,
button[type="submit"].outline.error:hover,
input[type="submit"].outline.error:hover,
button[type="button"].outline.error:hover,
button:not([type]).outline.error:hover,
input[type="button"].outline.error:hover,
input[type="reset"].outline.error:hover {
  color: white;
  background: #ca3c3c;
}
table {
  max-width: 100%;
  width: 100%;
  empty-cells: show;
  border-collapse: collapse;
  border-spacing: 0;
}
table,
table tr,
table td,
table th {
  -webkit-transition: background 0.2s;
  transition: background 0.2s;
}
table caption {
  text-align: left;
  text-transform: uppercase;
  padding: 0 1em;
  color: #565d64;
  font-size: 0.85em;
}
table th,
table td {
  text-align: left;
  padding: 0.75em 1em;
  border-bottom: 1px solid #bdbdbd;
  background: transparent;
}
table th.min,
table td.min {
  width: 1px;
}
table th.control,
table td.control {
  width: 1px;
  white-space: nowrap;
  text-align: center;
}
table thead > tr {
  background: transparent;
}
table tfoot > tr {
  color: #565d64;
  font-style: normal;
  background: transparent;
}
table.bordered th,
table.bordered td {
  border: 1px solid #bdbdbd;
}
table.simple th,
table.simple td,
table.simple caption {
  border: none;
  padding-left: 0;
}
table.flat th,
table.flat td,
table.flat caption {
  border: none;
  padding: 0;
}
table.stripped > tr:nth-child(odd),
table.stripped > tbody tr:nth-child(odd) {
  background: #f4f4f4;
}
table.hover > tr:hover,
table.hover tbody > tr:hover {
  background: #56b9d9 !important;
}
table.click > tr,
table.click tbody > tr,
table > tr[data-href],
table tbody > td[data-href] {
  cursor: pointer;
}
table.click > tr:hover,
table.click tbody > tr:hover,
table > tr[data-href]:hover,
table tbody > td[data-href]:hover {
  background: #56b9d9 !important;
}
.table-container {
  width: 100%;
  overflow: auto;
  margin-bottom: 1.65em;
}
.table-container table {
  margin-bottom: 0;
}
.table-container::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 14px;
  height: 14px;
}
.table-container::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 3px solid #fff;
  background-color: rgba(0, 0, 0, 0.3);
}
.nav:after,
nav:not(.flat):after {
  content: "";
  display: table;
  clear: both;
}
.nav ul,
nav:not(.flat) ul {
  display: inline-block;
}
.nav > a,
.nav > span,
nav:not(.flat) > a,
nav:not(.flat) > span {
  display: inline-block;
  padding: 0.3em 1em;
  font-size: 0.9em;
  text-transform: uppercase;
}
.nav ul > li,
nav:not(.flat) ul > li {
  display: inline-block;
}
.nav ul > li > a,
.nav ul > li > span,
nav:not(.flat) ul > li > a,
nav:not(.flat) ul > li > span {
  display: block;
  padding: 0.3em 1em;
  text-decoration: none;
  border-radius: 2px;
  border: 1px solid transparent;
}
.nav ul > li a:hover,
nav:not(.flat) ul > li a:hover {
  background: #f4f4f4;
}
.nav ul > li.active > a,
.nav ul > li.active > span,
nav:not(.flat) ul > li.active > a,
nav:not(.flat) ul > li.active > span {
  border-color: #00aeef;
}
.nav ul > li[disabled] > a,
.nav ul > li.disabled > a,
.nav ul > li[disabled] > span,
.nav ul > li.disabled > span,
nav:not(.flat) ul > li[disabled] > a,
nav:not(.flat) ul > li.disabled > a,
nav:not(.flat) ul > li[disabled] > span,
nav:not(.flat) ul > li.disabled > span {
  color: #b4b4b4;
  background: none;
  cursor: not-allowed;
}
nav.vertical > a,
nav.vertical > span {
  display: block;
  border-bottom: 1px solid #bdbdbd;
  margin-top: 0.5em;
}
nav.vertical ul {
  display: block;
}
nav.vertical ul > li {
  display: block;
}
nav.vertical ul > li:not(:first-child) {
  margin-top: .1em;
}
nav.vertical ul > li > ul {
  margin-left: 2em;
}
.nav.lined ul > li > a,
.nav.lined ul > li > span,
nav:not(.flat).lined ul > li > a,
nav:not(.flat).lined ul > li > span {
  border: none;
  margin-bottom: 1px;
  border-bottom: 1px solid transparent;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.nav.lined ul > li > a:hover,
nav:not(.flat).lined ul > li > a:hover {
  border-color: #00aeef;
}
.nav.lined ul > li.active > a,
.nav.lined ul > li.active > span,
nav:not(.flat).lined ul > li.active > a,
nav:not(.flat).lined ul > li.active > span {
  margin-bottom: 0;
  border-bottom: 2px solid #00aeef;
}
.nav.lined ul > li[disabled] > a,
.nav.lined ul > li.disabled > a,
nav:not(.flat).lined ul > li[disabled] > a,
nav:not(.flat).lined ul > li.disabled > a {
  border-color: transparent;
}
nav.lined.vertical > a,
nav.lined.vertical > span {
  margin-left: 2px;
}
nav.lined.vertical ul > li > a,
nav.lined.vertical ul > li > span {
  margin-bottom: 0;
  border-bottom: none;
  margin-left: 1px;
  border-left: 1px solid transparent;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
nav.lined.vertical ul > li > a:hover {
  border-color: #00aeef;
}
nav.lined.vertical ul > li.active > a,
nav.lined.vertical ul > li.active > span {
  border-bottom: 0;
  margin-left: 0;
  border-left: 2px solid #00aeef;
}
nav.lined.vertical ul > li[disabled] > a:hover,
nav.lined.vertical ul > li.disabled > a:hover {
  border-color: transparent;
}
fieldset {
  padding: 0;
  border: none;
}
fieldset > *:last-child {
  margin-bottom: 0 !important;
}
legend {
  width: 100%;
  margin: 0 0 1em;
  padding: .3em 0;
  border-bottom: 1px solid #bdbdbd;
}
.form > label,
form:not(.flat) > label {
  display: block;
  margin: 0 -2px 1em 2px;
}
.form > label > input,
.form > label > textarea,
.form > label > select,
.form > label > div,
.form > label > label,
form:not(.flat) > label > input,
form:not(.flat) > label > textarea,
form:not(.flat) > label > select,
form:not(.flat) > label > div,
form:not(.flat) > label > label {
  margin-left: -2px;
}
.form > label > label,
form:not(.flat) > label > label {
  display: block;
  margin-top: .25em;
}
.form input[type="text"],
.form input[type="password"],
.form input[type="email"],
.form input[type="url"],
.form input[type="phone"],
.form input[type="tel"],
.form input[type="number"],
.form input[type="datetime"],
.form input[type="date"],
.form input[type="month"],
.form input[type="color"],
.form input[type="time"],
.form input[type="search"],
.form input[type="range"],
.form input[type="file"],
.form input[type="datetime-local"],
.form .input-group,
.form textarea,
.form select,
form:not(.flat) input[type="text"],
form:not(.flat) input[type="password"],
form:not(.flat) input[type="email"],
form:not(.flat) input[type="url"],
form:not(.flat) input[type="phone"],
form:not(.flat) input[type="tel"],
form:not(.flat) input[type="number"],
form:not(.flat) input[type="datetime"],
form:not(.flat) input[type="date"],
form:not(.flat) input[type="month"],
form:not(.flat) input[type="color"],
form:not(.flat) input[type="time"],
form:not(.flat) input[type="search"],
form:not(.flat) input[type="range"],
form:not(.flat) input[type="file"],
form:not(.flat) input[type="datetime-local"],
form:not(.flat) .input-group,
form:not(.flat) textarea,
form:not(.flat) select {
  display: block;
  width: 100%;
}
.form.inline input,
.form > .inline input,
.form.inline button,
.form > .inline button,
.form.inline textarea,
.form > .inline textarea,
.form.inline select,
.form > .inline select,
form:not(.flat).inline input,
form:not(.flat) > .inline input,
form:not(.flat).inline button,
form:not(.flat) > .inline button,
form:not(.flat).inline textarea,
form:not(.flat) > .inline textarea,
form:not(.flat).inline select,
form:not(.flat) > .inline select {
  display: inline-block;
  vertical-align: middle;
  width: auto;
}
.form > section:not(.controls),
form:not(.flat) > section:not(.controls) {
  margin-bottom: 1em;
}
.form > section:not(.controls) > label,
form:not(.flat) > section:not(.controls) > label {
  padding: 0.3em 0;
}
.form > section:not(.controls) > output,
form:not(.flat) > section:not(.controls) > output {
  padding: 0.3em 0;
}
.form > section:not(.controls) > div > label,
form:not(.flat) > section:not(.controls) > div > label {
  display: block;
  margin-top: .25em;
}
label.req > span:first-child:after {
  content: " *";
  color: red;
}
ul.radio,
ul.checkbox,
ul.radio-inline,
ul.checkbox-inline {
  list-style: none;
  padding: 0;
}
ul.radio-inline > li,
ul.checkbox-inline > li {
  display: inline-block;
  margin-right: 1em;
}
.input-group {
  display: inline-table !important;
  border-collapse: separate;
  vertical-align: middle;
}
.input-group input[type="text"],
.input-group input[type="password"],
.input-group input[type="email"],
.input-group input[type="url"],
.input-group input[type="phone"],
.input-group input[type="tel"],
.input-group input[type="number"],
.input-group input[type="datetime"],
.input-group input[type="date"],
.input-group input[type="month"],
.input-group input[type="color"],
.input-group input[type="time"],
.input-group input[type="search"],
.input-group input[type="datetime-local"] {
  display: table-cell !important;
  width: 100%;
}
.input-group input[type="text"]:not(:first-child),
.input-group input[type="password"]:not(:first-child),
.input-group input[type="email"]:not(:first-child),
.input-group input[type="url"]:not(:first-child),
.input-group input[type="phone"]:not(:first-child),
.input-group input[type="tel"]:not(:first-child),
.input-group input[type="number"]:not(:first-child),
.input-group input[type="datetime"]:not(:first-child),
.input-group input[type="date"]:not(:first-child),
.input-group input[type="month"]:not(:first-child),
.input-group input[type="color"]:not(:first-child),
.input-group input[type="time"]:not(:first-child),
.input-group input[type="search"]:not(:first-child),
.input-group input[type="datetime-local"]:not(:first-child) {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
.input-group input[type="text"]:not(:last-child),
.input-group input[type="password"]:not(:last-child),
.input-group input[type="email"]:not(:last-child),
.input-group input[type="url"]:not(:last-child),
.input-group input[type="phone"]:not(:last-child),
.input-group input[type="tel"]:not(:last-child),
.input-group input[type="number"]:not(:last-child),
.input-group input[type="datetime"]:not(:last-child),
.input-group input[type="date"]:not(:last-child),
.input-group input[type="month"]:not(:last-child),
.input-group input[type="color"]:not(:last-child),
.input-group input[type="time"]:not(:last-child),
.input-group input[type="search"]:not(:last-child),
.input-group input[type="datetime-local"]:not(:last-child) {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}
.input-group span,
.input-group label {
  display: table-cell !important;
  vertical-align: middle;
  white-space: nowrap;
  width: 1px;
}
.input-group span:first-child,
.input-group label:first-child,
.input-group span:first-child > *,
.input-group label:first-child > * {
  border-right: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.input-group span:last-child,
.input-group label:last-child,
.input-group span:last-child > *,
.input-group label:last-child > * {
  border-left: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.input-group span {
  padding: 0.3em 0.5em;
  border: 1px solid #bdbdbd;
  border-radius: 2px;
  background-color: #f4f4f4;
}
ul.pagination {
  display: inline-block;
  overflow: auto;
  list-style: none;
  margin: 0 0 1em;
  padding: 0;
}
ul.pagination > li {
  float: left;
  display: block;
  overflow: auto;
  margin: 0;
  border: 1px solid #bdbdbd;
}
ul.pagination > li:first-child {
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}
ul.pagination > li:last-child {
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}
ul.pagination > li:not(:first-child) {
  border-left: 0;
}
ul.pagination > li > a,
ul.pagination > li > span {
  display: block;
  padding: 0.3em 0.85em;
  text-decoration: none;
}
ul.pagination > li > a:hover,
ul.pagination > li > span:hover {
  background-color: #f4f4f4;
}
ul.pagination > li.active > a,
ul.pagination > li.active > span {
  color: white;
  background: #00aeef;
}
ul.pagination > li.disabled > a,
ul.pagination > li[disabled] > a,
ul.pagination > li.disabled > span,
ul.pagination > li[disabled] > span {
  color: #b4b4b4;
  background: none;
  cursor: not-allowed;
}
[class|="fa"] {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  transform: translate(0, 0);
}
.fa-plus,
.fa-check {
  color: #1cb841;
}
.fa-close,
.fa-remove,
.fa-fire,
.fa-trash {
  color: #ca3c3c;
}
.fa-fire-extinguisher {
  color: #0094ff;
}
.fa-trophy {
  color: goldenrod;
}
ul,
ol {
  padding-left: 0;
}
.code-block {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}
.code-block ol {
  margin: 0 0 0 3.3em;
}
.linenums ol li {
  list-style-type: none;
  counter-increment: list;
  position: relative;
}
.linenums ol li:after {
  content: counter(list);
  position: absolute;
  left: -3.3em;
  border-right: 1px solid #e5e5e5;
  padding-right: 9px;
  width: 2.45em;
  text-align: right;
  color: rgba(0, 0, 0, 0.3);
  font-size: 12px;
}
.tag {
  color: #367ac3;
}
header {
  height: 300px;
  background-color: #00aeef;
  margin-bottom: 1em;
}
header .logo {
  width: 100%;
  text-align: center;
  color: white;
  padding-top: 3.5em;
}
header .logo .text {
  font-size: 10em;
}
header .logo .download-btn {
  margin-top: 1em;
}
header .logo .download-btn button {
  color: white;
  font-size: 2em;
  border-color: white;
}
header .logo .download-btn button:hover {
  color: #00aeef;
  border-color: white !important;
  background-color: white !important;
}
header.little {
  height: 4em;
  padding: 1em;
}
header.little .logo {
  text-align: left;
  padding-top: 0.2em;
}
header.little .logo .text {
  font-size: 2.5em;
}
.row,
[class|="blocks"] {
  margin: 0 -1em;
}
.col-1-6,
.col-5-6 {
  padding: 0 1em;
}
.left-menu li > a {
  color: #003f56;
}
.left-menu li > a:hover {
  color: #0076a3;
}
.fresh-docs-head {
  margin: 4.949999999999999em 0 1.65em 0;
  font-size: 18px;
  font-weight: 300;
  padding-bottom: 10px;
  border-bottom: 1px solid #e2e2e2;
}
