header {
  height: 300px;
  background-color: #00aeef;
  margin-bottom: 1em;
}
header .logo {
  width: 100%;
  text-align: center;
  color: white;
  padding-top: 3.5em;
}
header .logo .text {
  font-size: 10em;
}
header .logo .download-btn {
  margin-top: 1em;
}
header .logo .download-btn button {
  color: white;
  font-size: 2em;
  border-color: white;
}
header .logo .download-btn button:hover {
  color: #00aeef;
  border-color: white !important;
  background-color: white !important;
}
header.little {
  height: 4em;
  padding: 1em;
}
header.little .logo {
  text-align: left;
  padding-top: 0.2em;
}
header.little .logo .text {
  font-size: 2.5em;
}
.row {
  margin: 0 -1em;
}
.col-1-6,
.col-5-6 {
  padding: 0 1em;
}
.left-menu li > a {
  border-color: #00aeef !important;
  color: #003f56 !important;
}
.left-menu li > a:hover {
  color: #0076a3 !important;
}
