ul,
ol {
	padding-left: 0;
}

.code-block {
	font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
	margin: 1.65em 0;
    ol {
        margin: 0 0 0 3.3em;
    }
    .pln {
        white-space: pre;
    }

.linenums ol li {
	list-style-type: none;
	counter-increment: list;
	position: relative;
    white-space: nowrap;
}

.linenums ol li:after {
	content: counter(list);
	position: absolute;
	left: -3.3em;
	border-right: 1px solid #e5e5e5;
	padding-right: 9px;
	width: 2.45em;
	text-align: right;
	color: rgba(0, 0, 0, 0.3);
	font-size: 12px;
}

.tag {
	color: #367ac3;
}