@import "variables.less";
header {
    height: 300px;
    background-color: @header-main-color;
    margin-bottom: 1em;
    .logo {
        width: 100%;
        text-align: center;
        color: white;
        padding-top: 3.5em;
        .text {
            font-size: 10em;
        }
        .download-btn {
            margin-top: 1em;
            button {
                color: white;
                font-size: 2em;
                border-color: white;
                &:hover {
                    color: @header-main-color;
                    border-color: white !important;
                    background-color: white !important;
                }
            }
        }
    }
    &.little {
        height: 4em;
        padding: 1em;
        .logo {
            text-align: left;
            padding-top: 0.2em;
            .text {
                font-size: 2.5em;
            }
        }
    }
}