@import "vendor/fresh-css/fresh.less";
@import "src/less/variables.less";
@import "src/less/content.less";
@import "src/less/grid.less";
@import "src/less/code.less";
@import "src/less/footer.less";
@import "src/less/header.less";
@import "src/less/left-menu.less";
.fresh-docs-head {
	margin: 4.949999999999999em 0 1.65em 0;
	font-size: 18px;
	font-weight: 300;
	padding-bottom: 10px;
	border-bottom: 1px solid #e2e2e2;
	&.fresh-docs-head-first {
		margin-top: 1.65em;
	}
}

ul.forms-list,
ul.forms-list-inline {
	list-style: none;
	padding: 0;
}

ul.forms-list-inline {
	> li {
		display: inline-block;
		margin-right: 1em;
	}
}