*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -ms-content-zooming: none;
  touch-action: pan-x pan-y;
}
a:active,
a:focus,
a:hover {
  outline: 0;
}
[hidden] {
  display: none;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
embed,
object,
iframe,
audio,
video,
canvas,
progress,
meter,
output,
textarea {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
blockquote,
q {
  quotes: none;
}
blockquote p:before,
blockquote p:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
caption,
th,
td {
  text-align: left;
  vertical-align: top;
}
thead th,
thead td {
  font-weight: bold;
  vertical-align: bottom;
}
a img,
th img,
td img {
  vertical-align: top;
}
button,
input,
select,
textarea {
  margin: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}
button {
  width: auto;
  overflow: visible;
}
input[type="reset"],
input[type="submit"],
input[type="file"],
input[type="radio"],
input[type="checkbox"],
select,
button {
  cursor: pointer;
}
input[type="search"] {
  -webkit-appearance: textfield;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
hr {
  display: block;
  height: 1px;
  border: 0;
}
menu,
nav ul,
nav ol {
  padding: 0;
  list-style: none;
  list-style-image: none;
}
img,
video,
audio,
embed,
object {
  max-width: 100%;
}
img,
video,
embed,
object {
  height: auto;
}
embed,
object {
  height: 100%;
}
img {
  vertical-align: middle;
  -ms-interpolation-mode: bicubic;
}
.hide {
  display: none;
}
.width-100 {
  width: 100%;
}
.xl {
  font-size: 1.5em;
}
.lg {
  font-size: 1.2em;
}
.md {
  font-size: 1em;
}
.sm {
  font-size: 0.85em;
}
.xs {
  font-size: 0.75em;
}
.nowrap,
.nowrap td {
  white-space: nowrap;
}
.group:after {
  content: "";
  display: table;
  clear: both;
}
.pull-center {
  margin-left: auto;
  margin-right: auto;
}
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-old {
  color: #565d64;
  text-decoration: line-through;
}
.text-help {
  color: #565d64;
  font-size: 0.9em;
}
dnf[title].text-help,
abbr[title].text-help,
.text-help dnf[title],
.text-help abbr[title] {
  border-bottom-color: #565d64;
}
.text-for-field {
  display: block;
  color: #565d64;
  font-size: 0.9em;
  text-align: center;
}
.text-primary {
  color: #105c9a;
}
.text-secondary {
  color: #56b9d9;
}
.text-success {
  color: #1cb841;
}
.text-warning {
  color: #df7514;
}
.text-error {
  color: #ca3c3c;
}
.text-gray {
  color: #565d64;
}
.text-invert {
  color: white;
}
.bg-primary {
  background-color: #105c9a;
}
.bg-secondary {
  background-color: #56b9d9;
}
.bg-success {
  background-color: #1cb841;
}
.bg-warning {
  background-color: #df7514;
}
.bg-error {
  background-color: #ca3c3c;
}
.bg-gray {
  background-color: #565d64;
}
.row {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: flext-start;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
[class^="col-"] {
  display: block;
}
.col-1-24 {
  width: 4.1667%;
}
.col-1-12,
.col-2-24 {
  width: 8.3333%;
}
.col-1-8,
.col-3-24 {
  width: 12.5000%;
}
.col-1-6,
.col-4-24 {
  width: 16.6667%;
}
.col-1-5 {
  width: 20%;
}
.col-5-24 {
  width: 20.8333%;
}
.col-1-4,
.col-6-24 {
  width: 25%;
}
.col-7-24 {
  width: 29.1667%;
}
.col-1-3,
.col-8-24 {
  width: 33.3333%;
}
.col-3-8,
.col-9-24 {
  width: 37.5000%;
}
.col-2-5 {
  width: 40%;
}
.col-5-12,
.col-10-24 {
  width: 41.6667%;
}
.col-11-24 {
  width: 45.8333%;
}
.col-1-2,
.col-12-24 {
  width: 50%;
}
.col-13-24 {
  width: 54.1667%;
}
.col-7-12,
.col-14-24 {
  width: 58.3333%;
}
.col-3-5 {
  width: 60%;
}
.col-5-8,
.col-15-24 {
  width: 62.5000%;
}
.col-2-3,
.col-16-24 {
  width: 66.6667%;
}
.col-17-24 {
  width: 70.8333%;
}
.col-3-4,
.col-18-24 {
  width: 75%;
}
.col-19-24 {
  width: 79.1667%;
}
.col-4-5 {
  width: 80%;
}
.col-5-6,
.col-20-24 {
  width: 83.3333%;
}
.col-7-8,
.col-21-24 {
  width: 87.5000%;
}
.col-11-12,
.col-22-24 {
  width: 91.6667%;
}
.col-23-24 {
  width: 95.8333%;
}
.col-1,
.col-1-1,
.col-5-5,
.col-24-24 {
  width: 100%;
}
.container-sm {
  margin-left: auto;
  margin-right: auto;
  max-width: 35.5em;
}
.container-md {
  margin-left: auto;
  margin-right: auto;
  max-width: 48em;
}
.container-lg {
  margin-left: auto;
  margin-right: auto;
  max-width: 64em;
}
.container-xl {
  margin-left: auto;
  margin-right: auto;
  max-width: 80em;
}
.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}
@media screen and (min-width: 35.5em) {
  .container {
    max-width: 35.5em;
  }
}
@media screen and (min-width: 48em) {
  .container {
    max-width: 48em;
  }
}
@media screen and (min-width: 64em) {
  .container {
    max-width: 64em;
  }
}
@media screen and (min-width: 80em) {
  .container {
    max-width: 80em;
  }
}
body {
  font-family: "Helvetica Neue", Helvetica, Tahoma, sans-serif;
  font-size: 16px;
  line-height: 1.65em;
  background: #ffffff;
  color: #222222;
}
a {
  color: #105c9a;
  text-decoration: underline;
  outline: none;
  -webkit-transition: color 0.2s, background-color 0.2s, border-color 0.2s, transform 0.2s;
  transition: color 0.2s, background-color 0.2s, border-color 0.2s, transform 0.2s;
}
a:hover {
  color: #093355;
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Helvetica Neue", Helvetica, Tahoma, sans-serif;
  font-weight: normal;
  color: black;
  text-rendering: optimizeLegibility;
  margin: 0 0 .5em;
}
h1,
.h1 {
  font-size: 2em;
  line-height: 1.1;
}
h2,
.h2 {
  font-size: 1.5em;
  line-height: 1.1;
}
h3,
.h3 {
  font-size: 1.3125em;
  line-height: 1.3;
}
h4,
.h4 {
  font-size: 1.125em;
  line-height: 1.3;
}
h5,
.h5 {
  font-size: 1em;
}
h6,
.h6 {
  font-size: .75em;
  text-transform: uppercase;
}
p,
ul,
ol,
dl,
dd,
dt,
blockquote,
td,
th {
  line-height: 1.65em;
}
p,
.p,
ul,
ol,
dl,
blockquote,
hr,
pre,
nav,
table,
form,
fieldset,
figure,
address {
  margin: 0 0 1em;
}
ul,
ol {
  padding-left: 2em;
}
ul > li,
ol > li {
  text-align: left;
}
ul.flat,
ol.flat {
  padding-left: 0;
  list-style: none;
}
ul ul,
ol ol,
ul ol,
ol ul,
nav ul {
  margin-bottom: 0;
}
ol ol li {
  list-style-type: lower-alpha;
}
ol ol ol li {
  list-style-type: lower-roman;
}
blockquote {
  position: relative;
  font-style: italic;
  margin-left: 2.5em;
  padding-left: 1.5em;
  border-left: 2px solid #bdbdbd;
}
blockquote p {
  margin-bottom: .5em;
}
blockquote small,
cite {
  color: #bdbdbd;
  font-style: italic;
}
small,
blockquote cite {
  font-size: 0.85em;
  line-height: 1;
}
dl dt {
  font-weight: bold;
}
dl dd {
  margin-left: 2.5em;
}
hr {
  background-color: #bdbdbd;
}
address {
  font-style: normal;
}
s,
del {
  text-decoration: line-through;
}
abbr[title],
dfn[title] {
  border-bottom: 1px dashed #222222;
  cursor: help;
}
strong,
b {
  font-weight: bold;
}
em,
i {
  font-style: italic;
}
sub,
sup {
  font-size: 0.75em;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
figcaption {
  margin: .3em 0;
  font-size: 0.85em;
  font-style: italic;
}
ins,
u {
  text-decoration: underline;
}
mark {
  background-color: #df7514;
  color: black;
  text-decoration: none;
}
pre,
code,
kbd,
samp,
var {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  font-style: normal;
}
pre {
  margin-top: 1em;
  font-size: 1em;
  line-height: 1.5;
  color: #222222;
  overflow: auto;
}
code,
samp,
kbd {
  font-size: .9em;
  padding: 0.1em 0.3em;
  display: inline-block;
  line-height: 1;
  border-radius: 2px;
}
code {
  background-color: #f4f4f4;
  border: 1px solid #bdbdbd;
}
pre code {
  font-size: 1em;
  border: none;
  padding: 0;
  background: none;
  line-height: 1.2;
}
var {
  color: rgba(0, 0, 0, 0.5);
}
samp {
  background: #ffffff;
  border: 1px solid #56b9d9;
}
kbd {
  background: black;
  color: rgba(255, 255, 255, 0.85);
  white-space: nowrap;
}
input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="phone"],
input[type="tel"],
input[type="number"],
input[type="datetime"],
input[type="date"],
input[type="month"],
input[type="color"],
input[type="time"],
input[type="search"],
input[type="datetime-local"],
textarea,
select {
  font-family: "Helvetica Neue", Helvetica, Tahoma, sans-serif;
  font-size: 1em;
  box-shadow: none;
  outline: none;
  position: relative;
  z-index: 2;
  -webkit-appearance: none;
  background: white;
  border: 1px solid #bdbdbd;
  border-radius: 4px;
  padding: 0.25em 0.4em;
  vertical-align: middle;
  -webkit-transition: color 0.2s, background-color 0.2s, border-color 0.2s, transform 0.2s;
  transition: color 0.2s, background-color 0.2s, border-color 0.2s, transform 0.2s;
}
input[type="text"][disabled],
input[type="password"][disabled],
input[type="email"][disabled],
input[type="url"][disabled],
input[type="phone"][disabled],
input[type="tel"][disabled],
input[type="number"][disabled],
input[type="datetime"][disabled],
input[type="date"][disabled],
input[type="month"][disabled],
input[type="color"][disabled],
input[type="time"][disabled],
input[type="search"][disabled],
input[type="datetime-local"][disabled],
textarea[disabled],
select[disabled] {
  resize: none;
  color: #b4b4b4;
  background: #f4f4f4;
  cursor: not-allowed;
}
input[type="text"]:active,
input[type="password"]:active,
input[type="email"]:active,
input[type="url"]:active,
input[type="phone"]:active,
input[type="tel"]:active,
input[type="number"]:active,
input[type="datetime"]:active,
input[type="date"]:active,
input[type="month"]:active,
input[type="color"]:active,
input[type="time"]:active,
input[type="search"]:active,
input[type="datetime-local"]:active,
textarea:active,
select:active,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="phone"]:focus,
input[type="tel"]:focus,
input[type="number"]:focus,
input[type="datetime"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="color"]:focus,
input[type="time"]:focus,
input[type="search"]:focus,
input[type="datetime-local"]:focus,
textarea:focus,
select:focus {
  border-color: #105c9a;
}
input[type="text"]:-ms-input-placeholder,
input[type="password"]:-ms-input-placeholder,
input[type="email"]:-ms-input-placeholder,
input[type="url"]:-ms-input-placeholder,
input[type="phone"]:-ms-input-placeholder,
input[type="tel"]:-ms-input-placeholder,
input[type="number"]:-ms-input-placeholder,
input[type="datetime"]:-ms-input-placeholder,
input[type="date"]:-ms-input-placeholder,
input[type="month"]:-ms-input-placeholder,
input[type="color"]:-ms-input-placeholder,
input[type="time"]:-ms-input-placeholder,
input[type="search"]:-ms-input-placeholder,
input[type="datetime-local"]:-ms-input-placeholder,
textarea:-ms-input-placeholder,
select:-ms-input-placeholder {
  color: #565d64;
}
input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="phone"],
input[type="tel"],
input[type="number"],
input[type="datetime"],
input[type="date"],
input[type="month"],
input[type="color"],
input[type="time"],
input[type="search"],
input[type="datetime-local"] {
  line-height: 1.65em;
}
textarea,
select[multiple],
select[multiple="multiple"] {
  line-height: 1.35em;
  width: 100%;
}
select[disabled],
input[type="checkbox"][disabled],
input[type="radio"][disabled] {
  cursor: default;
}
input::-moz-focus-inner,
button::-moz-focus-inner {
  border: 0;
  padding: 0;
}
button:active,
button:focus {
  outline: none;
}
input[type="range"] {
  position: relative;
  top: 3px;
}
select {
  margin-bottom: 0 !important;
}
.btn,
button[type="submit"],
input[type="submit"],
button[type="button"],
button:not([type]),
input[type="button"],
input[type="reset"] {
  display: inline-block;
  vertical-align: baseline;
  font-family: "Helvetica Neue", Helvetica, Tahoma, sans-serif;
  font-weight: normal;
  line-height: 1.65em;
  text-align: center;
  text-decoration: none;
  -webkit-appearance: none;
  outline: none;
  box-shadow: none;
  cursor: pointer;
  border: 1px solid;
  border-radius: 4px;
  padding: 0.25em 1em;
  -webkit-transition: color 0.2s, background-color 0.2s, border-color 0.2s, transform 0.2s;
  transition: color 0.2s, background-color 0.2s, border-color 0.2s, transform 0.2s;
  color: white;
  background-color: #aaaaaa;
  border-color: #9d9d9d;
}
.btn:hover:not(:active):not(.active),
button[type="submit"]:hover:not(:active):not(.active),
input[type="submit"]:hover:not(:active):not(.active),
button[type="button"]:hover:not(:active):not(.active),
button:not([type]):hover:not(:active):not(.active),
input[type="button"]:hover:not(:active):not(.active),
input[type="reset"]:hover:not(:active):not(.active) {
  background-color: #848484;
  border-color: #848484;
}
.btn[disabled],
.btn.disabled,
button[type="submit"][disabled],
button[type="submit"].disabled,
input[type="submit"][disabled],
input[type="submit"].disabled,
button[type="button"][disabled],
button[type="button"].disabled,
button:not([type])[disabled],
button:not([type]).disabled,
input[type="button"][disabled],
input[type="button"].disabled,
input[type="reset"][disabled],
input[type="reset"].disabled {
  color: #b4b4b4;
  background: #f4f4f4;
}
.btn::-moz-focus-inner,
button[type="submit"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
button[type="button"]::-moz-focus-inner,
button:not([type])::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner {
  border: 0;
  padding: 0;
}
.btn[disabled],
.btn.disabled,
button[type="submit"][disabled],
button[type="submit"].disabled,
input[type="submit"][disabled],
input[type="submit"].disabled,
button[type="button"][disabled],
button[type="button"].disabled,
button:not([type])[disabled],
button:not([type]).disabled,
input[type="button"][disabled],
input[type="button"].disabled,
input[type="reset"][disabled],
input[type="reset"].disabled {
  cursor: not-allowed;
  box-shadow: none;
}
.btn:active,
.btn.active,
button[type="submit"]:active,
button[type="submit"].active,
input[type="submit"]:active,
input[type="submit"].active,
button[type="button"]:active,
button[type="button"].active,
button:not([type]):active,
button:not([type]).active,
input[type="button"]:active,
input[type="button"].active,
input[type="reset"]:active,
input[type="reset"].active {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4) inset;
}
.btn.primary,
button[type="submit"].primary,
button[type="submit"],
input[type="submit"].primary,
input[type="submit"],
button[type="button"].primary,
button:not([type]).primary,
input[type="button"].primary,
input[type="reset"].primary {
  color: white;
  background-color: #105c9a;
  border-color: #0e4e83;
}
.btn.primary:hover:not(:active):not(.active),
button[type="submit"].primary:hover:not(:active):not(.active),
button[type="submit"]:hover:not(:active):not(.active),
input[type="submit"].primary:hover:not(:active):not(.active),
input[type="submit"]:hover:not(:active):not(.active),
button[type="button"].primary:hover:not(:active):not(.active),
button:not([type]).primary:hover:not(:active):not(.active),
input[type="button"].primary:hover:not(:active):not(.active),
input[type="reset"].primary:hover:not(:active):not(.active) {
  background-color: #093355;
  border-color: #093355;
}
.btn.primary[disabled],
.btn.primary.disabled,
button[type="submit"].primary[disabled],
button[type="submit"].primary.disabled,
button[type="submit"][disabled],
button[type="submit"].disabled,
input[type="submit"].primary[disabled],
input[type="submit"].primary.disabled,
input[type="submit"][disabled],
input[type="submit"].disabled,
button[type="button"].primary[disabled],
button[type="button"].primary.disabled,
button:not([type]).primary[disabled],
button:not([type]).primary.disabled,
input[type="button"].primary[disabled],
input[type="button"].primary.disabled,
input[type="reset"].primary[disabled],
input[type="reset"].primary.disabled {
  color: #b4b4b4;
  background: #f4f4f4;
}
.btn.secondary,
button[type="submit"].secondary,
input[type="submit"].secondary,
button[type="button"].secondary,
button:not([type]).secondary,
input[type="button"].secondary,
input[type="reset"].secondary {
  color: white;
  background-color: #56b9d9;
  border-color: #41b0d4;
}
.btn.secondary:hover:not(:active):not(.active),
button[type="submit"].secondary:hover:not(:active):not(.active),
input[type="submit"].secondary:hover:not(:active):not(.active),
button[type="button"].secondary:hover:not(:active):not(.active),
button:not([type]).secondary:hover:not(:active):not(.active),
input[type="button"].secondary:hover:not(:active):not(.active),
input[type="reset"].secondary:hover:not(:active):not(.active) {
  background-color: #2a96b9;
  border-color: #2a96b9;
}
.btn.secondary[disabled],
.btn.secondary.disabled,
button[type="submit"].secondary[disabled],
button[type="submit"].secondary.disabled,
input[type="submit"].secondary[disabled],
input[type="submit"].secondary.disabled,
button[type="button"].secondary[disabled],
button[type="button"].secondary.disabled,
button:not([type]).secondary[disabled],
button:not([type]).secondary.disabled,
input[type="button"].secondary[disabled],
input[type="button"].secondary.disabled,
input[type="reset"].secondary[disabled],
input[type="reset"].secondary.disabled {
  color: #b4b4b4;
  background: #f4f4f4;
}
.btn.success,
button[type="submit"].success,
input[type="submit"].success,
button[type="button"].success,
button:not([type]).success,
input[type="button"].success,
input[type="reset"].success {
  color: white;
  background-color: #1cb841;
  border-color: #19a239;
}
.btn.success:hover:not(:active):not(.active),
button[type="submit"].success:hover:not(:active):not(.active),
input[type="submit"].success:hover:not(:active):not(.active),
button[type="button"].success:hover:not(:active):not(.active),
button:not([type]).success:hover:not(:active):not(.active),
input[type="button"].success:hover:not(:active):not(.active),
input[type="reset"].success:hover:not(:active):not(.active) {
  background-color: #12762a;
  border-color: #12762a;
}
.btn.success[disabled],
.btn.success.disabled,
button[type="submit"].success[disabled],
button[type="submit"].success.disabled,
input[type="submit"].success[disabled],
input[type="submit"].success.disabled,
button[type="button"].success[disabled],
button[type="button"].success.disabled,
button:not([type]).success[disabled],
button:not([type]).success.disabled,
input[type="button"].success[disabled],
input[type="button"].success.disabled,
input[type="reset"].success[disabled],
input[type="reset"].success.disabled {
  color: #b4b4b4;
  background: #f4f4f4;
}
.btn.warning,
button[type="submit"].warning,
input[type="submit"].warning,
button[type="button"].warning,
button:not([type]).warning,
input[type="button"].warning,
input[type="reset"].warning {
  color: white;
  background-color: #df7514;
  border-color: #c86912;
}
.btn.warning:hover:not(:active):not(.active),
button[type="submit"].warning:hover:not(:active):not(.active),
input[type="submit"].warning:hover:not(:active):not(.active),
button[type="button"].warning:hover:not(:active):not(.active),
button:not([type]).warning:hover:not(:active):not(.active),
input[type="button"].warning:hover:not(:active):not(.active),
input[type="reset"].warning:hover:not(:active):not(.active) {
  background-color: #99500e;
  border-color: #99500e;
}
.btn.warning[disabled],
.btn.warning.disabled,
button[type="submit"].warning[disabled],
button[type="submit"].warning.disabled,
input[type="submit"].warning[disabled],
input[type="submit"].warning.disabled,
button[type="button"].warning[disabled],
button[type="button"].warning.disabled,
button:not([type]).warning[disabled],
button:not([type]).warning.disabled,
input[type="button"].warning[disabled],
input[type="button"].warning.disabled,
input[type="reset"].warning[disabled],
input[type="reset"].warning.disabled {
  color: #b4b4b4;
  background: #f4f4f4;
}
.btn.error,
button[type="submit"].error,
input[type="submit"].error,
button[type="button"].error,
button:not([type]).error,
input[type="button"].error,
input[type="reset"].error {
  color: white;
  background-color: #ca3c3c;
  border-color: #ba3333;
}
.btn.error:hover:not(:active):not(.active),
button[type="submit"].error:hover:not(:active):not(.active),
input[type="submit"].error:hover:not(:active):not(.active),
button[type="button"].error:hover:not(:active):not(.active),
button:not([type]).error:hover:not(:active):not(.active),
input[type="button"].error:hover:not(:active):not(.active),
input[type="reset"].error:hover:not(:active):not(.active) {
  background-color: #922828;
  border-color: #922828;
}
.btn.error[disabled],
.btn.error.disabled,
button[type="submit"].error[disabled],
button[type="submit"].error.disabled,
input[type="submit"].error[disabled],
input[type="submit"].error.disabled,
button[type="button"].error[disabled],
button[type="button"].error.disabled,
button:not([type]).error[disabled],
button:not([type]).error.disabled,
input[type="button"].error[disabled],
input[type="button"].error.disabled,
input[type="reset"].error[disabled],
input[type="reset"].error.disabled {
  color: #b4b4b4;
  background: #f4f4f4;
}
.btn.link,
button[type="submit"].link,
input[type="submit"].link,
button[type="button"].link,
button:not([type]).link,
input[type="button"].link,
input[type="reset"].link {
  color: #105c9a;
  background: none;
  border-color: transparent;
  text-decoration: underline;
}
.btn.link:hover,
button[type="submit"].link:hover,
input[type="submit"].link:hover,
button[type="button"].link:hover,
button:not([type]).link:hover,
input[type="button"].link:hover,
input[type="reset"].link:hover {
  color: #093355;
  text-decoration: none;
}
.btn.outline,
button[type="submit"].outline,
input[type="submit"].outline,
button[type="button"].outline,
button:not([type]).outline,
input[type="button"].outline,
input[type="reset"].outline {
  color: #222222;
  border-color: #222222;
  background: none;
}
.btn.outline:hover,
button[type="submit"].outline:hover,
input[type="submit"].outline:hover,
button[type="button"].outline:hover,
button:not([type]).outline:hover,
input[type="button"].outline:hover,
input[type="reset"].outline:hover {
  color: white;
  background-color: #222222;
}
.btn.outline[disabled],
.btn.outline.disabled,
button[type="submit"].outline[disabled],
button[type="submit"].outline.disabled,
input[type="submit"].outline[disabled],
input[type="submit"].outline.disabled,
button[type="button"].outline[disabled],
button[type="button"].outline.disabled,
button:not([type]).outline[disabled],
button:not([type]).outline.disabled,
input[type="button"].outline[disabled],
input[type="button"].outline.disabled,
input[type="reset"].outline[disabled],
input[type="reset"].outline.disabled {
  background: none;
  box-shadow: none;
}
.btn.outline.primary,
button[type="submit"].outline.primary,
input[type="submit"].outline.primary,
button[type="button"].outline.primary,
button:not([type]).outline.primary,
input[type="button"].outline.primary,
input[type="reset"].outline.primary {
  color: #105c9a;
  border-color: #105c9a;
}
.btn.outline.primary:hover,
button[type="submit"].outline.primary:hover,
input[type="submit"].outline.primary:hover,
button[type="button"].outline.primary:hover,
button:not([type]).outline.primary:hover,
input[type="button"].outline.primary:hover,
input[type="reset"].outline.primary:hover {
  color: white;
  background-color: #105c9a;
}
.btn.outline.primary[disabled],
.btn.outline.primary.disabled,
button[type="submit"].outline.primary[disabled],
button[type="submit"].outline.primary.disabled,
input[type="submit"].outline.primary[disabled],
input[type="submit"].outline.primary.disabled,
button[type="button"].outline.primary[disabled],
button[type="button"].outline.primary.disabled,
button:not([type]).outline.primary[disabled],
button:not([type]).outline.primary.disabled,
input[type="button"].outline.primary[disabled],
input[type="button"].outline.primary.disabled,
input[type="reset"].outline.primary[disabled],
input[type="reset"].outline.primary.disabled {
  color: #b4b4b4;
  background: none;
}
.btn.outline.secondary,
button[type="submit"].outline.secondary,
input[type="submit"].outline.secondary,
button[type="button"].outline.secondary,
button:not([type]).outline.secondary,
input[type="button"].outline.secondary,
input[type="reset"].outline.secondary {
  color: #56b9d9;
  border-color: #56b9d9;
}
.btn.outline.secondary:hover,
button[type="submit"].outline.secondary:hover,
input[type="submit"].outline.secondary:hover,
button[type="button"].outline.secondary:hover,
button:not([type]).outline.secondary:hover,
input[type="button"].outline.secondary:hover,
input[type="reset"].outline.secondary:hover {
  color: white;
  background-color: #56b9d9;
}
.btn.outline.secondary[disabled],
.btn.outline.secondary.disabled,
button[type="submit"].outline.secondary[disabled],
button[type="submit"].outline.secondary.disabled,
input[type="submit"].outline.secondary[disabled],
input[type="submit"].outline.secondary.disabled,
button[type="button"].outline.secondary[disabled],
button[type="button"].outline.secondary.disabled,
button:not([type]).outline.secondary[disabled],
button:not([type]).outline.secondary.disabled,
input[type="button"].outline.secondary[disabled],
input[type="button"].outline.secondary.disabled,
input[type="reset"].outline.secondary[disabled],
input[type="reset"].outline.secondary.disabled {
  color: #b4b4b4;
  background: none;
}
.btn.outline.success,
button[type="submit"].outline.success,
input[type="submit"].outline.success,
button[type="button"].outline.success,
button:not([type]).outline.success,
input[type="button"].outline.success,
input[type="reset"].outline.success {
  color: #1cb841;
  border-color: #1cb841;
}
.btn.outline.success:hover,
button[type="submit"].outline.success:hover,
input[type="submit"].outline.success:hover,
button[type="button"].outline.success:hover,
button:not([type]).outline.success:hover,
input[type="button"].outline.success:hover,
input[type="reset"].outline.success:hover {
  color: white;
  background-color: #1cb841;
}
.btn.outline.success[disabled],
.btn.outline.success.disabled,
button[type="submit"].outline.success[disabled],
button[type="submit"].outline.success.disabled,
input[type="submit"].outline.success[disabled],
input[type="submit"].outline.success.disabled,
button[type="button"].outline.success[disabled],
button[type="button"].outline.success.disabled,
button:not([type]).outline.success[disabled],
button:not([type]).outline.success.disabled,
input[type="button"].outline.success[disabled],
input[type="button"].outline.success.disabled,
input[type="reset"].outline.success[disabled],
input[type="reset"].outline.success.disabled {
  color: #b4b4b4;
  background: none;
}
.btn.outline.warning,
button[type="submit"].outline.warning,
input[type="submit"].outline.warning,
button[type="button"].outline.warning,
button:not([type]).outline.warning,
input[type="button"].outline.warning,
input[type="reset"].outline.warning {
  color: #df7514;
  border-color: #df7514;
}
.btn.outline.warning:hover,
button[type="submit"].outline.warning:hover,
input[type="submit"].outline.warning:hover,
button[type="button"].outline.warning:hover,
button:not([type]).outline.warning:hover,
input[type="button"].outline.warning:hover,
input[type="reset"].outline.warning:hover {
  color: white;
  background-color: #df7514;
}
.btn.outline.warning[disabled],
.btn.outline.warning.disabled,
button[type="submit"].outline.warning[disabled],
button[type="submit"].outline.warning.disabled,
input[type="submit"].outline.warning[disabled],
input[type="submit"].outline.warning.disabled,
button[type="button"].outline.warning[disabled],
button[type="button"].outline.warning.disabled,
button:not([type]).outline.warning[disabled],
button:not([type]).outline.warning.disabled,
input[type="button"].outline.warning[disabled],
input[type="button"].outline.warning.disabled,
input[type="reset"].outline.warning[disabled],
input[type="reset"].outline.warning.disabled {
  color: #b4b4b4;
  background: none;
}
.btn.outline.error,
button[type="submit"].outline.error,
input[type="submit"].outline.error,
button[type="button"].outline.error,
button:not([type]).outline.error,
input[type="button"].outline.error,
input[type="reset"].outline.error {
  color: #ca3c3c;
  border-color: #ca3c3c;
}
.btn.outline.error:hover,
button[type="submit"].outline.error:hover,
input[type="submit"].outline.error:hover,
button[type="button"].outline.error:hover,
button:not([type]).outline.error:hover,
input[type="button"].outline.error:hover,
input[type="reset"].outline.error:hover {
  color: white;
  background-color: #ca3c3c;
}
.btn.outline.error[disabled],
.btn.outline.error.disabled,
button[type="submit"].outline.error[disabled],
button[type="submit"].outline.error.disabled,
input[type="submit"].outline.error[disabled],
input[type="submit"].outline.error.disabled,
button[type="button"].outline.error[disabled],
button[type="button"].outline.error.disabled,
button:not([type]).outline.error[disabled],
button:not([type]).outline.error.disabled,
input[type="button"].outline.error[disabled],
input[type="button"].outline.error.disabled,
input[type="reset"].outline.error[disabled],
input[type="reset"].outline.error.disabled {
  color: #b4b4b4;
  background: none;
}
table {
  max-width: 100%;
  width: 100%;
  empty-cells: show;
  border-collapse: collapse;
  border-spacing: 0;
}
table,
table tr,
table td,
table th {
  -webkit-transition: background 0.2s;
  transition: background 0.2s;
}
table caption {
  text-align: left;
  text-transform: uppercase;
  padding: 0 1em;
  color: #565d64;
  font-size: 0.85em;
}
table th,
table td {
  text-align: left;
  padding: 0.75em 1em;
  border-bottom: 1px solid #bdbdbd;
  background: transparent;
}
table th.min,
table td.min {
  width: 1px;
}
table th.control,
table td.control {
  width: 1px;
  white-space: nowrap;
  text-align: center;
}
table thead > tr {
  background: transparent;
}
table tfoot > tr {
  color: #565d64;
  font-style: normal;
  background: transparent;
}
table.bordered th,
table.bordered td {
  border: 1px solid #bdbdbd;
}
table.simple th,
table.simple td,
table.simple caption {
  border: none;
  padding-left: 0;
}
table.flat th,
table.flat td,
table.flat caption {
  border: none;
  padding: 0;
}
table.stripped > tr:nth-child(odd),
table.stripped > tbody tr:nth-child(odd) {
  background: #f4f4f4;
}
table.hover > tr:hover,
table.hover tbody > tr:hover {
  background: #56b9d9 !important;
}
table.click > tr,
table.click tbody > tr,
table > tr[data-href],
table tbody > td[data-href] {
  cursor: pointer;
}
table.click > tr:hover,
table.click tbody > tr:hover,
table > tr[data-href]:hover,
table tbody > td[data-href]:hover {
  background: #56b9d9 !important;
}
.table-container {
  width: 100%;
  overflow: auto;
  margin-bottom: 1.65em;
}
.table-container table {
  margin-bottom: 0;
}
.table-container::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 14px;
  height: 14px;
}
.table-container::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 3px solid #fff;
  background-color: rgba(0, 0, 0, 0.3);
}
.nav:after,
nav:not(.flat):after {
  content: "";
  display: table;
  clear: both;
}
.nav ul,
nav:not(.flat) ul {
  display: inline-block;
}
.nav > a,
.nav > span,
nav:not(.flat) > a,
nav:not(.flat) > span {
  display: inline-block;
  padding: 0.25em 1em;
  font-size: 0.9em;
  text-transform: uppercase;
}
.nav ul > li,
nav:not(.flat) ul > li {
  display: inline-block;
}
.nav ul > li > a,
.nav ul > li > span,
nav:not(.flat) ul > li > a,
nav:not(.flat) ul > li > span {
  display: block;
  padding: 0.25em 1em;
  text-decoration: none;
  border-radius: 4px;
  border: 1px solid transparent;
}
.nav ul > li a:hover,
nav:not(.flat) ul > li a:hover {
  background: #f4f4f4;
}
.nav ul > li.active > a,
.nav ul > li.active > span,
nav:not(.flat) ul > li.active > a,
nav:not(.flat) ul > li.active > span {
  border-color: #105c9a;
}
.nav ul > li[disabled] > a,
.nav ul > li.disabled > a,
.nav ul > li[disabled] > span,
.nav ul > li.disabled > span,
nav:not(.flat) ul > li[disabled] > a,
nav:not(.flat) ul > li.disabled > a,
nav:not(.flat) ul > li[disabled] > span,
nav:not(.flat) ul > li.disabled > span {
  color: #b4b4b4;
  background: none;
  cursor: not-allowed;
}
.nav.vertical > a,
.nav.vertical > span,
nav:not(.flat).vertical > a,
nav:not(.flat).vertical > span {
  display: block;
  border-bottom: 1px solid #bdbdbd;
  margin-top: 0.5em;
}
.nav.vertical ul,
nav:not(.flat).vertical ul {
  display: block;
}
.nav.vertical ul > li,
nav:not(.flat).vertical ul > li {
  display: block;
}
.nav.vertical ul > li > ul,
nav:not(.flat).vertical ul > li > ul {
  margin-left: 2em;
}
.nav.lined ul > li > a,
.nav.lined ul > li > span,
nav:not(.flat).lined ul > li > a,
nav:not(.flat).lined ul > li > span {
  border: none;
  margin-bottom: 3px;
}
.nav.lined ul > li.active > a,
.nav.lined ul > li.active > span,
nav:not(.flat).lined ul > li.active > a,
nav:not(.flat).lined ul > li.active > span {
  margin-bottom: 0;
  border-bottom: 3px solid #105c9a;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.nav.lined.vertical > a,
.nav.lined.vertical > span,
nav:not(.flat).lined.vertical > a,
nav:not(.flat).lined.vertical > span {
  margin-left: 3px;
}
.nav.lined.vertical ul > li > a,
.nav.lined.vertical ul > li > span,
nav:not(.flat).lined.vertical ul > li > a,
nav:not(.flat).lined.vertical ul > li > span {
  margin-bottom: 0;
  margin-left: 3px;
}
.nav.lined.vertical ul > li.active > a,
.nav.lined.vertical ul > li.active > span,
nav:not(.flat).lined.vertical ul > li.active > a,
nav:not(.flat).lined.vertical ul > li.active > span {
  border-bottom: 0;
  margin-left: 0;
  border-left: 3px solid #105c9a;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
fieldset {
  padding: 0;
  margin-bottom: 1.65em;
  border: none;
}
fieldset *:last-child {
  margin-bottom: 0 !important;
}
legend {
  font-weight: bold;
  padding: 0 1em;
  margin-left: -1em;
}
.input-group {
  display: inline-table !important;
  border-collapse: separate;
  vertical-align: middle;
}
.input-group input[type="text"],
.input-group input[type="password"],
.input-group input[type="email"],
.input-group input[type="url"],
.input-group input[type="phone"],
.input-group input[type="tel"],
.input-group input[type="number"],
.input-group input[type="datetime"],
.input-group input[type="date"],
.input-group input[type="month"],
.input-group input[type="color"],
.input-group input[type="time"],
.input-group input[type="search"],
.input-group input[type="datetime-local"] {
  display: table-cell;
  width: 100%;
}
.input-group input[type="text"]:not(:first-child),
.input-group input[type="password"]:not(:first-child),
.input-group input[type="email"]:not(:first-child),
.input-group input[type="url"]:not(:first-child),
.input-group input[type="phone"]:not(:first-child),
.input-group input[type="tel"]:not(:first-child),
.input-group input[type="number"]:not(:first-child),
.input-group input[type="datetime"]:not(:first-child),
.input-group input[type="date"]:not(:first-child),
.input-group input[type="month"]:not(:first-child),
.input-group input[type="color"]:not(:first-child),
.input-group input[type="time"]:not(:first-child),
.input-group input[type="search"]:not(:first-child),
.input-group input[type="datetime-local"]:not(:first-child) {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
.input-group input[type="text"]:not(:last-child),
.input-group input[type="password"]:not(:last-child),
.input-group input[type="email"]:not(:last-child),
.input-group input[type="url"]:not(:last-child),
.input-group input[type="phone"]:not(:last-child),
.input-group input[type="tel"]:not(:last-child),
.input-group input[type="number"]:not(:last-child),
.input-group input[type="datetime"]:not(:last-child),
.input-group input[type="date"]:not(:last-child),
.input-group input[type="month"]:not(:last-child),
.input-group input[type="color"]:not(:last-child),
.input-group input[type="time"]:not(:last-child),
.input-group input[type="search"]:not(:last-child),
.input-group input[type="datetime-local"]:not(:last-child) {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}
.input-group span,
.input-group button,
.input-group input[type="button"],
.input-group input[type="submit"],
.input-group input[type="reset"] {
  display: table-cell;
  vertical-align: middle;
  padding: 0.25em 0.4em;
  border: 1px solid #bdbdbd;
  border-radius: 4px;
  background-color: #f4f4f4;
  width: 0;
  white-space: nowrap;
}
.input-group span:first-child,
.input-group button:first-child,
.input-group input[type="button"]:first-child,
.input-group input[type="submit"]:first-child,
.input-group input[type="reset"]:first-child {
  border-right: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.input-group span:last-child,
.input-group button:last-child,
.input-group input[type="button"]:last-child,
.input-group input[type="submit"]:last-child,
.input-group input[type="reset"]:last-child {
  border-left: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
