@import "variables.less";
@import "grid.less";

// Mixins
.blocks {
	.row;
	list-style: none;
	padding: 0;
	
	> * {
		text-align: center;
	}
}

.blocks(@num) {
	&:extend(.blocks all);
	margin-left: -@padding-phone;
	
	> * {
		width: calc(percentage(1 / @num) ~" - " @padding-phone);
		margin-left: @padding-phone;
		margin-bottom: @padding-phone;
	}
	
	@media (min-width: @width-tablet) {
		margin-left: -@padding-tablet;
		> * {
			width: calc(percentage(1 / @num) ~" - " @padding-tablet);
			margin-left: @padding-tablet;
			margin-bottom: @padding-tablet;
		}
	}
	
	@media (min-width: @width-desktop) {
		margin-left: -@padding-desktop;
		> * {
			width: calc(percentage(1 / @num) ~" - " @padding-desktop);
			margin-left: @padding-desktop;
			margin-bottom: @padding-desktop;
		}
	}

	@media (min-width: @width-hd) {
		margin-left: -@padding-hd;
		> * {
			width: calc(percentage(1 / @num) ~" - " @padding-hd);
			margin-left: @padding-hd;
			margin-bottom: @padding-hd;
		}
	}
}

.blocks(@num, @spacing) {
	&:extend(.blocks all);
	margin-left: -@spacing;
	
	> * {
		width: calc(percentage(1 / @num) ~" - " @spacing);
		margin-left: @spacing;
		margin-bottom: @spacing;
	}
}

//.blocks-responsive(@num, @min-width, @spacing) {
//	&:extend(.blocks all);
//	
//	@media (min-width: @min-width) {
//		margin-left: -@spacing;
//		
//		> * {
//			width: calc(percentage(1 / @num) ~" - " @spacing);
//			margin-left: @spacing;
//			margin-bottom: @spacing;
//		}
//	}
//}

.blocks-tablet(@num) {
	@media (min-width: @width-tablet) {
		.blocks(@num, @width-tablet);
	}
}

.blocks-desktop(@num) {
	@media (min-width: @width-desktop) {
		.blocks(@num, @width-desktop);
	}
}

.blocks-hd(@num) {
	@media (min-width: @width-hd) {
		.blocks(@num, @width-hd);
	}
}

// Create default blocks in loop
.blocks-loop(@num) when (@num <= @blocks-count) {
	.blocks-@{num} {
		.blocks(@num);
	}
	.blocks-loop(@num + 1);
}

.blocks-loop(@num, @suffix, @min-width) when (@num <= @blocks-count) {
	.blocks-@{suffix}-@{num} {
		@media (min-width: @min-width) {
			.blocks(@num);
		}
	}
	.blocks-loop(@num + 1, @suffix, @min-width);
}

.blocks-loop(1);
.blocks-loop(1, tablet, @width-tablet);
.blocks-loop(1, desktop, @width-desktop);
.blocks-loop(1, hd, @width-hd);