@import "variables.less";
@import "mixins.less";
.btn-base {
	display: inline-block;
	vertical-align: baseline;
	font-family: @control-font-family;
	font-weight: @btn-font-weight;
	line-height: normal;
	text-align: center;
	text-decoration: none;
	padding: @btn-padding;
	border-width: @btn-border-width;
	border-style: @btn-border-style;
	border-radius: @btn-border-radius;
	-webkit-appearance: none;
	outline: none;
	box-shadow: none;
	cursor: pointer;
	-webkit-transition: @btn-transition-webkit;
	transition: @btn-transition;			 

	@btn-base-ruleset();
	.btn-base-extend(@btn-bg);

	&::-moz-focus-inner {
		border: 0;
		padding: 0;
	}
	&[disabled],
	&.disabled {
		cursor: @control-disabled-cursor;
		box-shadow: none;
		color: @control-disabled-color !important;
		background: @control-disabled-bg !important;
	}
	&:active,
	&.active {
		box-shadow: @btn-active-shadow !important;
	}
	&.primary {
		@btn-base-ruleset();
		.btn-base-extend(@color-primary);
	}
	&.secondary {
		@btn-base-ruleset();
		.btn-base-extend(@color-secondary);
	}
	&.success {
		@btn-base-ruleset();
		.btn-base-extend(@color-success);
	}
	&.warning {
		@btn-base-ruleset();
		.btn-base-extend(@color-warning);
	}
	&.error {
		@btn-base-ruleset();
		.btn-base-extend(@color-error);
	}
}

@btn-base-ruleset: {
	.btn-base-extend(@color) {
		&:focus {
			box-shadow: 0px 0px @btn-focus-blur @btn-focus-spread fade(@color, @btn-focus-fade);
		}
	}
};

// Normal button
.btn {
	&:extend(.btn-base all);
	@btn-normal-ruleset();
	.btn-normal-extend(@btn-bg);
	&.primary {
		@btn-normal-ruleset();
		.btn-normal-extend(@color-primary);
	}
	&.secondary {
		@btn-normal-ruleset();
		.btn-normal-extend(@color-secondary);
	}
	&.success {
		@btn-normal-ruleset();
		.btn-normal-extend(@color-success);
	}
	&.warning {
		@btn-normal-ruleset();
		.btn-normal-extend(@color-warning);
	}
	&.error {
		@btn-normal-ruleset();
		.btn-normal-extend(@color-error);
	}
}

@btn-normal-ruleset: {
	.btn-normal-extend(@color) {
		@btn-base-ruleset();
		.btn-base-extend(@color);
		color: @btn-color;
		background: @color;
		border-color: darken(@color, @btn-border-darken);
		&:hover {
			background: darken(@color, @btn-hovering);
			border-color: darken(darken(@color, @btn-border-darken), @btn-hovering);
		}
	}
};

// Link button
.btn-link {
	&:extend(.btn-base all);
	border-color: transparent !important;
	@btn-link-ruleset();
	.btn-link-extend(@link-color);
	&:hover {
		color: @link-hover-color;
		text-decoration: none;
		background-color: @color-light;
		border-color: @color-light;
	}
	&.primary {
		@btn-link-ruleset();
		.btn-link-extend(@color-primary);
	}
	&.secondary {
		@btn-link-ruleset();
		.btn-link-extend(@color-secondary);
	}
	&.success {
		@btn-link-ruleset();
		.btn-link-extend(@color-success);
	}
	&.warning {
		@btn-link-ruleset();
		.btn-link-extend(@color-warning);
	}
	&.error {
		@btn-link-ruleset();
		.btn-link-extend(@color-error);
	}
}

@btn-link-ruleset: {
	.btn-link-extend(@color) {
		color: @color;
	}
};

// Outline button
.btn-outline {
	&:extend(.btn-base all);
	@btn-outline-ruleset();
	.btn-outline-extend(@color-text);
	&[disabled], &.disabled {
		background: none !important;
	}
	&.primary {
		@btn-outline-ruleset();
		.btn-outline-extend(@color-primary);
	}
	&.secondary {
		@btn-outline-ruleset();
		.btn-outline-extend(@color-secondary);
	}
	&.success {
		@btn-outline-ruleset();
		.btn-outline-extend(@color-success);
	}
	&.warning {
		@btn-outline-ruleset();
		.btn-outline-extend(@color-warning);
	}
	&.error {
		@btn-outline-ruleset();
		.btn-outline-extend(@color-error);
	}
}

@btn-outline-ruleset: {
	.btn-outline-extend(@color) {
		@btn-base-ruleset();
		.btn-base-extend(@color);
		color: @color;
		border-color: @color;
		&:hover {
			color: @btn-color;
			background: @color;
		}
	}
};

// Clear button
.btn-clear {
	&:extend(.btn-base all);
	color: @color-invert;
	border-color: @color-invert;
	@btn-clear-ruleset();
	.btn-clear-extend(@btn-bg);
	&[disabled], &.disabled {
		background: none !important;
	}
	&.primary {
		@btn-clear-ruleset();
		.btn-clear-extend(@color-primary);
	}
	&.secondary {
		@btn-clear-ruleset();
		.btn-clear-extend(@color-secondary);
	}
	&.success {
		@btn-clear-ruleset();
		.btn-clear-extend(@color-success);
	}
	&.warning {
		@btn-clear-ruleset();
		.btn-clear-extend(@color-warning);
	}
	&.error {
		@btn-clear-ruleset();
		.btn-clear-extend(@color-error);
	}
}

@btn-clear-ruleset: {
	.btn-clear-extend(@color) {
		&:hover {
			background: @color;
		}
		&:focus {
			box-shadow: 0px 0px @btn-focus-blur @btn-focus-spread fade(@color, 90%);
		}
	}
};

// Default submit buttons
[type="submit"].btn {
	&:extend(.btn.primary all);
}

[type="submit"].btn-outline {
	&:extend(.btn-outline.primary all);
}

[type="submit"].btn-clear {
	&:extend(.btn-clear.primary all);
}