@import "variables.less";
@import "mixins.less";

.btn-group {
	.clearfix();
	.flex-container();
	.flex-pull();
	
	> * {
		&:not(:first-child) {
			.border-left-radius(0);
			margin-left: -@btn-border-width;
		}
		
		&:not(:last-child) {
			.border-right-radius(0);
		}
	}
}

.btn-group-vertical {
	display: block;
	
	> * {
		display: block !important;
		
		&:not(:first-child) {
			.border-top-radius(0);
			margin-top: -@btn-border-width;
		}

		&:not(:last-child) {
			.border-bottom-radius(0);
		}
	}
}