@import "variables.less";

.container {
	padding-left: @padding-phone-h;
	padding-right: @padding-phone-h;
	
	@media (min-width: @device-tablet) {
		padding-left: @padding-tablet-h;
		padding-right: @padding-tablet-h;
	}
	
	@media (min-width: @device-desktop) {
		padding-left: @padding-desktop-h;
		padding-right: @padding-desktop-h;
	}

	@media (min-width: @device-hd) {
		padding-left: @padding-hd-h;
		padding-right: @padding-hd-h;
	}
}

.container(@max-width) {
	.container;
	.pull-center;
	max-width: @max-width;
}

.container-phone {
	.container(@device-phone);
}

.container-tablet {
	.container(@device-tablet);
}

.container-desktop {
	.container(@device-desktop);
}

.container-hd {
	.container(@device-hd);
}

.container-responsive {
	.pull-center;
	.container;
	max-width: @device-phone;
	
	@media (min-width: @device-phone) {
		max-width: @device-tablet;
	}

	@media (min-width: @device-tablet) {
		max-width: @device-desktop;
	}

	@media (min-width: @device-desktop) {
		max-width: @device-hd;
	}
}