@import "variables.less";
@import "mixins.less";
.control,
input,
select {
	line-height: normal;
}

.control,
input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="phone"],
input[type="tel"],
input[type="number"],
input[type="datetime"],
input[type="date"],
input[type="month"],
input[type="color"],
input[type="time"],
input[type="search"],
input[type="datetime-local"],
textarea,
select {
	font-family: @control-font-family;
	box-shadow: none;
	outline: none;
	position: relative;
	z-index: 2;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	
	color: @control-color;
	background: @control-bg;
	border: @control-border;
	border-radius: @control-border-radius;
	padding: @control-padding-v @control-padding-h;
	vertical-align: middle;
	-webkit-transition: @control-transition-webkit;
	transition: @control-transition;	
	.placeholder-color(@color-text-help);
	
	@control-base-ruleset();
	.control-base-extend(@control-active-color);
	
	&[disabled] {
		resize: none;
		color: @control-disabled-color;
		background: @control-disabled-bg;
		cursor: @control-disabled-cursor;
	}
	&[readonly] {
		background: @control-disabled-bg;
	}
}

@control-base-ruleset: {
	.control-base-extend(@color) {
		&:focus {
			border-color: @color;
			box-shadow: 0 0 @control-focus-blur @control-focus-spread fade(@color, @control-focus-fade);
		}
	}
};

select::-ms-expand {
	display: none;
}

.select-arrow() {
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAhklEQVR4nL3QMQrCUBBF0WMTCwtBsHEjrsPF2Ih7ssk2dA9prG0U1EKrwCfkj/kB82C6uXcewx+zRYPdWPiGD16lkhRuZ7CkDy6SNBm4nScWKTDrCNZYBgceuP5qUZRugwM2wf4dR7xzCyfxD86ookZz1Bn4glUER5LBcJ+kGE4l+7HwdPkCCQI2aLN6q8oAAAAASUVORK5CYII=);
	background-repeat: no-repeat;
	background-position: right .5em center;
	background-size: 16px 16px;
	
	@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx), (min-resolution: 192dpi) {
		background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAA0ElEQVR4nO2TuwrCQBAAR4VUFqKNChZ2VvobfnNaP8BGEEvBMoWFgl1sEghCdpPbeyBkINXtZeY4Dgb+lCmQA3fgkEJ+AsrqK2JG/MqjRrTJo0Ro8qARXeVBIvrKvUa4yr1F5AZ5M2IpScbC2s5SXzEHFtLASFhbAXtlRuMBXAz7B8Ij3W8GbJQZjQJ4um4+Y3+GL2ArSaRnaDl5zcTynzVww/30H+Do3m6L8CJ3jfAq7xsRRN41Iqhci4gib4uIKm9GXIF3CnlNBsxSyQe88QUurrhQwQZiMAAAAABJRU5ErkJggg==);
	}
}

select:not([multiple]) {
	padding-right: 2em;
	.select-arrow();
}

textarea,
select[multiple],
select[multiple="multiple"] {
	line-height: @control-multiline-height;
	width: 100%;
}

select,
input[type="checkbox"],
input[type="radio"] {
	&[disabled] {
		cursor: default;
	}
}

input[type="checkbox"] {
	border-radius: 3px;
}

input[type="radio"] {
	border-radius: 50%;
}

input[type="checkbox"],
input[type="radio"] {
	@control-checkbox-ruleset();
	.control-checkbox-extend(@control-active-color);
}

@control-checkbox-ruleset: {
	.control-checkbox-extend(@color) {
		&:focus {
			box-shadow: 0 0 @control-focus-blur @control-focus-spread fade(@color, @control-focus-fade);
		}
	}
};

input::-moz-focus-inner,
button::-moz-focus-inner {
	border: 0;
	padding: 0;
}

button:active,
button:focus {
	outline: none;
}

input[type="range"] {
	position: relative;
	top: 3px;
}

select {
	margin-bottom: 0 !important;
}

// Colors
.control,
input,
textarea,
select {
	@control-normal-ruleset();
	
	&.primary {
		.control-normal-extend(@color-primary);
	}
	&.secondary {
		.control-normal-extend(@color-secondary);
	}
	&.success {
		.control-normal-extend(@color-success);
	}
	&.warning {
		.control-normal-extend(@color-warning);
	}
	&.error {
		.control-normal-extend(@color-error);
	}
}

@control-normal-ruleset: {
	.control-normal-extend(@color) {
		border-color: @color;
		&:focus {
			box-shadow: 0 0 @control-focus-blur @control-focus-spread fade(@color, @control-focus-fade);
		}
	}
};

label {
	&.success {
		color: @color-success;
	}
	&.warning {
		color: @color-warning;
	}
	&.error {
		color: @color-error;
	}
}

// Clear controls
// Hint: we use tag names to override default input styles
.control-clear,
input.control-clear,
textarea.control-clear,
select.control-clear {
	color: @color-invert;
	border-color: @color-invert;
	background: transparent;
	.placeholder-color(@color-invert);
	
	@control-clear-ruleset();
	.control-clear-extend(@control-active-color);
	
	&.secondary {
		.control-clear-extend(@color-secondary);
	}
	&.success {
		.control-clear-extend(@color-success);
	}
	&.warning {
		.control-clear-extend(@color-warning);
	}
	&.error {
		.control-clear-extend(@color-error);
	}
}

@control-clear-ruleset: {
	.control-clear-extend(@color) {
		&:focus {
			background: @color;
			border-color: @color-invert;
		}
	}
};