@import "variables.less";
@import "mixins.less";

.control,
input,
select {
	line-height: normal;
}

.control,
input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="phone"],
input[type="tel"],
input[type="number"],
input[type="datetime"],
input[type="date"],
input[type="month"],
input[type="color"],
input[type="time"],
input[type="search"],
input[type="datetime-local"],
textarea,
select {
	font-family: @control-font-family;
	box-shadow: none;
	outline: none;
	position: relative;
	z-index: 2;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	
	background: @control-bg;
	border: @control-border;
	border-radius: @control-border-radius;
	padding: @control-padding-v @control-padding-h;
	vertical-align: middle;
	.transition(@control-transition);
	.placeholder-color(@color-gray);

	&[disabled] {
		resize: none;
		color: @control-disabled-color;
		background: @control-disabled-bg;
		cursor: @control-disabled-cursor;
	}
	
	&[readonly] {
		background: @control-disabled-bg;
	}

	&:focus {
		border-color: @control-active-color;
		box-shadow: 0 0 @control-focus-blur @control-focus-spread fade(@control-active-color, @control-focus-fade);
	}
}

select::-ms-expand {
	display: none;
}

select:not([multiple]) {
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAhklEQVR4nL3QMQrCUBBF0WMTCwtBsHEjrsPF2Ih7ssk2dA9prG0U1EKrwCfkj/kB82C6uXcewx+zRYPdWPiGD16lkhRuZ7CkDy6SNBm4nScWKTDrCNZYBgceuP5qUZRugwM2wf4dR7xzCyfxD86ookZz1Bn4glUER5LBcJ+kGE4l+7HwdPkCCQI2aLN6q8oAAAAASUVORK5CYII=);
	background-repeat: no-repeat;
	background-position: right .5em center;
	background-size: 16px 16px;
	padding-right: 2em;
	
	@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
		background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAA0ElEQVR4nO2TuwrCQBAAR4VUFqKNChZ2VvobfnNaP8BGEEvBMoWFgl1sEghCdpPbeyBkINXtZeY4Dgb+lCmQA3fgkEJ+AsrqK2JG/MqjRrTJo0Ro8qARXeVBIvrKvUa4yr1F5AZ5M2IpScbC2s5SXzEHFtLASFhbAXtlRuMBXAz7B8Ij3W8GbJQZjQJ4um4+Y3+GL2ArSaRnaDl5zcTynzVww/30H+Do3m6L8CJ3jfAq7xsRRN41Iqhci4gib4uIKm9GXIF3CnlNBsxSyQe88QUurrhQwQZiMAAAAABJRU5ErkJggg==);
	}
}

textarea,
select[multiple],
select[multiple="multiple"] {
	line-height: @control-multiline-height;
	width: 100%;
}

select,
input[type="checkbox"],
input[type="radio"] {
	&[disabled] {
		cursor: default;
	}
}

input[type="checkbox"] {
	border-radius: 3px;
}

input[type="radio"] {
	border-radius: 50%;
}

input[type="checkbox"],
input[type="radio"] {
	&:focus {
		box-shadow: 0 0 @control-focus-blur @control-focus-spread fade(@control-active-color, @control-focus-fade);
	}
}

input::-moz-focus-inner,
button::-moz-focus-inner {
	border: 0;
	padding: 0;
}

button:active, button:focus {
	outline: none;
}

input[type="range"] {
	position: relative;
	top: 3px;
}

select {
	margin-bottom: 0 !important;
}

.control,
input,
button,
textarea,
select,
label,
form,
.input-group,
fieldset {
	&.width-xs {
		max-width: @control-width-xs;
	}
	
	&.width-sm {
		max-width: @control-width-sm;
	}
	
	&.width-md {
		max-width: @control-width-md;
	}
	
	&.width-lg {
		max-width: @control-width-lg;
	}
	
	&.width-xl {
		max-width: @control-width-xl;
	}
	
	&.width-xxl {
		max-width: @control-width-xxl;
	}
}

// Colors
.control,
input,
textarea,
select {
	.control-color(@color) {
		border-color: @color;
		
		&:focus {
			box-shadow: 0 0 @control-focus-blur @control-focus-spread fade(@color, @control-focus-fade);
		}
	}
	
	&.primary {
		.control-color(@color-primary);
	}
	
	&.secondary {
		.control-color(@color-secondary);
	}
	
	&.success {
		.control-color(@color-success);
	}
	
	&.warning {
		.control-color(@color-warning);
	}
	
	&.error {
		.control-color(@color-error);
	}
}

label {
	&.success {
		color: @color-success;
	}
	
	&.warning {
		color: @color-warning;
	}
	
	&.error {
		color: @color-error;
	}
}

// Clear controls
// Hint: we use tag names to override default input styles
.control-clear,
input.control-clear,
textarea.control-clear,
select.control-clear {
	color: @color-invert;
	border-color: @color-invert;
	background: transparent;
	.control-color(@control-active-color);
	.placeholder-color(@color-invert);

	.control-color(@color) {
		&:focus {
			background: @color;
			border-color: @color-invert;
		}
	}

	&.secondary {
		.control-color(@color-secondary);
	}

	&.success {
		.control-color(@color-success);
	}

	&.warning {
		.control-color(@color-warning);
	}

	&.error {
		.control-color(@color-error);
	}
}