@import "variables.less";
@import "mixins.less";
@import "grid.less";

// Fieldset
fieldset {
	padding: 0;
	border: none;	

	> *:last-child {
		margin-bottom: 0 !important;
	}
}

legend {
	width: 100%;
	margin: 0 0 1em;
	padding: .3em 0;
	border-bottom: 1px solid @color-border;
}

// Form
.form {
	// One-by-one labels with controls
	> label {
		.clearfix();
		display: block;
		margin: 0 -@control-border-radius 1em @control-border-radius;
		
		> input,
		> textarea,
		> select,
		> div,
		> label {
			margin-left: -@control-border-radius;
		}
		
		> input,
		> textarea,
		> select,
		> div {
			& + label.radio,
			& + label.checkbox {
				margin-top: .25em;
			}
		}
	}
	
	input[type="text"],
	input[type="password"],
	input[type="email"],
	input[type="url"],
	input[type="phone"],
	input[type="tel"],
	input[type="number"],
	input[type="datetime"],
	input[type="date"],
	input[type="month"],
	input[type="color"],
	input[type="time"],
	input[type="search"],
	input[type="range"],
	input[type="file"],
	input[type="datetime-local"],
	.input-group,
	textarea,
	select {
		display: block;
		width: 100%;
	}
	
	> * {
		clear: both;
	}
	
	// Inline container
	&.inline, > .inline {
		input,
		button,
		textarea,
		select {
			display: inline-block;
			vertical-align: middle;
			width: auto;
		}
	}
	
	// Section = aligned row
	> section:not(.controls) {
		.row;
		margin-bottom: 1em;
		
		> label {
			.col(1, 1);
			.col-md(@form-aligned-left, @form-aligned-columns);
		}
		
		> input,
		> textarea,
		> select,
		> div,
		> output {
			.col(1, 1);
			.col-md(@form-aligned-right, @form-aligned-columns);
		}
		
		@media (min-width: @width-md) {
			> label,
			> output {
				padding-top: @control-padding-v;
				border-top: @control-border-width solid transparent;
			}
		}
		
		> div > label { // checkboxes
			display: block;
			margin-top: .25em;
		}
	}
	
	// controls
	> section.controls {
		.col-offset-md(@form-aligned-left, @form-aligned-columns);
	}
	
	// colors
	> .success {
		input,
		textarea,
		select {
			&:extend(input.success all);
		}
		
		.input-group {
			&:extend(.input-group.success all);
		}
	}
	
	> .warning {
		input,
		textarea,
		select {
			&:extend(input.warning all);
		}
		
		.input-group {
			&:extend(.input-group.warning all);
		}
	}
	
	> .error {
		input,
		textarea,
		select {
			&:extend(input.error all);
		}
		
		.input-group {
			&:extend(.input-group.error all);
		}
	}
}

form:not(.flat) {
	&:extend(.form all);
}

// Required
label.req {
	> span:first-child:after {
		content: " *";
		color: red;
	}
}

// Checkbox / radio list
label.radio,
label.checkbox {
	display: block;
	float: left;
	clear: both;
}

ul.radio,
ul.checkbox,
ul.radio-inline,
ul.checkbox-inline {
	list-style: none;
	padding: 0;
}

ul.radio-inline,
ul.checkbox-inline {
	> li {
		display: inline-block;
		margin-right: 1em;
	}
}

// Input group
.input-group {
	display: inline-table !important;
	border-collapse: separate;
	vertical-align: middle;

    input {
		display: table-cell !important;
		width: 100%;
        
        &:not(:first-child) {
			.border-left-radius(0) !important;
        }
        
        &:not(:last-child) {
			.border-right-radius(0) !important;
        }
	}

	> span,
    > label {
        display: table-cell !important;
		vertical-align: middle;
		white-space: nowrap;
		width: 1px;
        
        &:first-child {
			&, > * {
				border-right: none;
				border-top-right-radius: 0;
				border-bottom-right-radius: 0;
			}
        }
        
        &:last-child {
			&, > * {
				border-left: none;
				.border-left-radius(0);
			}
        }
	}
	
	> span {
		padding: @control-padding;
		border: @control-border;
		border-radius: @control-border-radius;
		background-color: @color-light;
	}
	
	// Colors
	.input-group-color(@color, @bg) {
		input,
		textarea,
		select {
			border-color: @color;
			
			&:focus {
				box-shadow: 0 0 5px 0 fade(@color, 50%);
			}
		}
		
		> span,
		> label {
			border-color: @color;
		}
		
		> span {
			color: @color;
			background: @bg;
		}
	}
	
	&.success {
		.input-group-color(@color-success, @color-bg-success);
	}
	
	&.warning {
		.input-group-color(@color-warning, @color-bg-warning);
	}
	
	&.error {
		.input-group-color(@color-error, @color-bg-error);
	}
}