@import "variables.less";
@import "mixins.less";
@import "grid.less";

// Fieldset
fieldset {
	padding: 0;
	border: none;	

	> *:last-child {
		margin-bottom: 0 !important;
	}
}

legend {
	width: 100%;
	margin: 0 0 1em;
	padding: .3em 0;
	border-bottom: 1px solid @color-border;
}

// Normal Form
.form {
	// One-by-one labels or vertical sections with controls
	> label,
	> fieldset > label {
		display: block;
	}
	
	> label,
	> section,
	> div.row,
	> fieldset > label,
	> fieldset > section,
	> fieldset > div.row {
		.clearfix();
		margin-bottom: @line-margin;

		input,
		textarea,
		select,
		div {
			& + label.radio,
			& + label.checkbox {
				margin-top: .25em;
			}
		}
	}

	> label,
	> section,
	> fieldset > label,
	> fieldset > section {
		input,
		textarea,
		select {
			display: block;
			width: 100%;
		}
	}
	
	// padding for each column in the row
	> div.row.padding,
	> fieldset > div.row.padding {
		> :not(:last-child) {
			padding-right: 1em;
		}
	}
	
	> * {
		clear: both;
	}
		
	input[type="submit"],
	input[type="button"],
	input[type="reset"],
	input[type="checkbox"],
	input[type="radio"] {
		display: inline-block;
		width: auto;
	}
	
	.input-group {
		.flex-container();
		width: 100%;
	}
	
	// colors
	> .success {
		input,
		textarea,
		select {
			&:extend(.control.success all);
		}
		
		.input-group {
			&:extend(.input-group.success all);
		}
	}
	
	> .warning {
		input,
		textarea,
		select {
			&:extend(.control.warning all);
		}
		
		.input-group {
			&:extend(.input-group.warning all);
		}
	}
	
	> .error {
		input,
		textarea,
		select {
			&:extend(.control.error all);
		}
		
		.input-group {
			&:extend(.input-group.error all);
		}
	}
}

// Inline form
.form-inline {
	&:extend(.form all);
}

.form-inline,
.form .inline {
	> input,
	> button,
	> textarea,
	> select,
	> label {
		display: inline-block;
		vertical-align: middle;
		width: auto;
		float: none;
	}

	> label {
		margin-bottom: 0;
	}

	> .input-group {
		.flex-container-inline();
		width: auto;
		vertical-align: middle;
	}
}

// Aligned form
.form-aligned {
	&:extend(.form all);
}

.form > .aligned,
.form > fieldset > .aligned,
.form-aligned > section,
.form-aligned > fieldset > section {
	.row;
	
	@media (min-width: @width-md) {
		-webkit-flex-wrap: nowrap; // fix for Safari wrapping element with width=100%
	}
	
	> label {
		display: block;
		.col(1, 1);
		.col-tablet(@form-aligned-left, @form-aligned-columns);
	}

	> input,
	> textarea,
	> select,
	> div,
	> output,
	> .input-group {
		.col(1, 1);
		.col-tablet(@form-aligned-right, @form-aligned-columns);

		&:first-child {
			.col-offset-tablet(@form-aligned-left, @form-aligned-columns);
		}
	}

	@media (min-width: @width-md) {
		> label {
			padding-right: 1em;
		}
		
		> label,
		> output {
			padding-top: @control-padding-v;
			border-top: @control-border-width solid transparent;
			line-height: 1;
		}
	}

	> div > label { // checkboxes
		display: block;
		margin-top: .25em;
	}
}

.form > .aligned-controls,
.form-aligned > .controls {
	.col-offset-tablet(@form-aligned-left, @form-aligned-columns);
	margin-bottom: @line-margin;
}

// Required
.req > :first-child:after {
	content: " *";
	color: red;
}

// Checkbox / radio list
label.radio,
label.checkbox {
	display: block;
	float: left;
	clear: both;
}

ul.radio,
ul.checkbox,
ul.radio-inline,
ul.checkbox-inline {
	list-style: none;
	padding: 0;
}

ul.radio-inline,
ul.checkbox-inline {
	> li {
		display: inline-block;
		margin-right: 1em;
	}
}