@import "variables.less";

// Rows
.row {
	.clearfix();
	
	display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
	
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
    justify-content: flex-start;
	
	> *:not(script) {
		display: block;
		width: 100%;
	}
}

.row(@spacing) {
	.row;
	margin: 0 -@spacing;
	
	> * {
		padding: 0 @spacing;
	}
}

// Column mixins
.col(@num, @total: @grid-columns) {
	width: percentage(@num / @total);
}

.col(@num, @total, @min-width) {
	@media (min-width: @min-width) {
		width: percentage(@num / @total);
	}
}

.col-sm(@num, @total: @grid-columns) {
	.col(@num, @total, @width-sm);
}

.col-md(@num, @total: @grid-columns) {
	.col(@num, @total, @width-md);
}

.col-lg(@num, @total: @grid-columns) {
	.col(@num, @total, @width-lg);
}

.col-xl(@num, @total: @grid-columns) {
	.col(@num, @total, @width-xl);
}

// Offset mixins
.col-offset(@num, @total: @grid-columns) {
	margin-left: percentage(@num / @total);
}

.col-offset(@num, @total, @min-width) {
	@media (min-width: @min-width) {
		margin-left: percentage(@num / @total);
	}
}

.col-offset-sm(@num, @total: @grid-columns) {
	.col-offset(@num, @total, @width-sm);
}

.col-offset-md(@num, @total: @grid-columns) {
	.col-offset(@num, @total, @width-md);
}

.col-offset-lg(@num, @total: @grid-columns) {
	.col-offset(@num, @total, @width-lg);
}

.col-offset-xl(@num, @total: @grid-columns) {
	.col-offset(@num, @total, @width-xl);
}

// Create default columns in loop
.col-loop(@num) when (@num <= @grid-columns) {
	.col-@{num} {
		.col(@num);
	}
	
	.col-offset-@{num} {
		.col-offset(@num);
	}
	
	.col-loop(@num + 1);
}

.col-loop(@num, @suffix, @min-width) when (@num <= @grid-columns) {
	.col-@{suffix}-@{num} {
		.col(@num, @grid-columns, @min-width);
	}

	.col-offset-@{suffix}-@{num} {
		.col-offset(@num, @grid-columns, @min-width);
	}

	.col-loop(@num + 1, @suffix, @min-width);
}

.col-loop(1);
.col-loop(1, sm, @width-sm);
.col-loop(1, md, @width-md);
.col-loop(1, lg, @width-lg);
.col-loop(1, xl, @width-xl);