@import "variables.less";
@import "mixins.less";

.input-group {
	.flex-container-inline();
	
	input[type="text"],
	input[type="password"],
	input[type="email"],
	input[type="url"],
	input[type="phone"],
	input[type="tel"],
	input[type="number"],
	input[type="datetime"],
	input[type="date"],
	input[type="month"],
	input[type="color"],
	input[type="time"],
	input[type="search"],
	input[type="datetime-local"],
	textarea,
	select {
		.flex(1);
		border-width: @control-border-width;
	}
	
	:not(:first-child),
	:not(:first-child) .select2-selection {
		.border-left-radius(0) !important;
	}
	
	:not(:last-child),
	:not(:last-child) .select2-selection {
		.border-right-radius(0) !important;
		border-right-width: 0 !important;
	}
	
	> span:not(.select2) {
		line-height: normal;
		padding: @control-padding-v @control-padding-h;
		border: @control-border;
		border-radius: @control-border-radius;
		background-color: @color-light;
		color: @control-color;
	}
	
	// Colors
	.input-group-color(@color, @bg) {
		input,
		textarea,
		select,
		.select2 {
			border-color: @color;
			
			&:focus {
				box-shadow: 0 0 @control-focus-blur @control-focus-spread fade(@color, @control-focus-fade);
			}
		}
		
		> span,
		> label {
			border-color: @color;
		}
		
		> span:not(.select2) {
			color: @color;
			background: @bg;
		}
	}
	
	&.success {
		.input-group-color(@color-success, @color-bg-success);
	}
	
	&.warning {
		.input-group-color(@color-warning, @color-bg-warning);
	}
	
	&.error {
		.input-group-color(@color-error, @color-bg-error);
	}
}