@import "variables.less";
@import "mixins.less";

.input-group {
	.flex-container-inline();
	
	input[type="text"],
	input[type="password"],
	input[type="email"],
	input[type="url"],
	input[type="phone"],
	input[type="tel"],
	input[type="number"],
	input[type="datetime"],
	input[type="date"],
	input[type="month"],
	input[type="color"],
	input[type="time"],
	input[type="search"],
	input[type="datetime-local"],
	textarea {
		.flex(1);
		
		&:not(:first-child) {
			.border-left-radius(0) !important;
        }
        
        &:not(:last-child) {
			.border-right-radius(0) !important;
        }
	}
	
	:first-child {
		border-right: none !important;
		.border-right-radius(0) !important;
	}
        
	:last-child {
		border-left: none !important;
		.border-left-radius(0) !important;
	}
	
	> span {
		line-height: normal;
		padding: @control-padding-v @control-padding-h;
		border: @control-border;
		border-radius: @control-border-radius;
		background-color: @color-light;
	}
	
	// Colors
	.input-group-color(@color, @bg) {
		input,
		textarea,
		select {
			border-color: @color;
			
			&:focus {
				box-shadow: 0 0 @control-focus-blur @control-focus-spread fade(@color, @control-focus-fade);
			}
		}
		
		> span,
		> label {
			border-color: @color;
		}
		
		> span {
			color: @color;
			background: @bg;
		}
	}
	
	&.success {
		.input-group-color(@color-success, @color-bg-success);
	}
	
	&.warning {
		.input-group-color(@color-warning, @color-bg-warning);
	}
	
	&.error {
		.input-group-color(@color-error, @color-bg-error);
	}
}