@import "variables.less";

.nav-base {
	> header {
		padding: @nav-padding;
		font-size: 0.9em;
		text-transform: uppercase;
	}
	
	ul > li {
		> a, > span {
			display: block;
			padding: @nav-padding;
			text-decoration: none;
		}

		a:hover {
			background: @nav-hover-bg;
		}
		
		&.active {
			> a, > span {
				border-color: @nav-active-bg;
			}
		}
		
		&[disabled],
		&.disabled {
			> a, > span {
				color: @control-disabled-color;
				background: none;
				border-color: transparent !important;
				cursor: @control-disabled-cursor;
			}
		}
	}
}

.nav-base-horizontal {
	&:extend(.nav-base all);
	
	ul,
	ul > li,
	> header, {
		display: inline-block;
	}
}

.nav-base-vertical {
	&:extend(.nav-base all);
	
	> header {
		display: block;
		border-bottom: @nav-border-width solid @color-border;
		margin-top: @nav-heading-margin-top;
	}
	
	ul {
		display: block;
	}

	ul > li {
		display: block;

		> ul {
			margin-left: 2em;
		}
	}
}

// Normal navigation
.nav,
.nav-vertical {
	ul > li {
		> a, > span {
			border-radius: @nav-border-radius;
			border: @nav-border-width solid transparent;
		}
	}
}

.nav {
	&:extend(.nav-base-horizontal all);
}

.nav-vertical {
	&:extend(.nav-base-vertical all);
}

// Lined navigation
.nav-lined,
.nav-lined-vertical {
	ul > li {
		> a, > span {
			color: @color-text;
		}
		
		> a:hover {
			border-color: @nav-active-bg;			
		}
	}
}

.nav-lined {
	&:extend(.nav-base-horizontal all);
	
	ul > li {
		> a, > span {
			margin-bottom: 1px;
			border-bottom: 1px solid transparent;
		}
		
		&.active {
			> a, > span {
				margin-bottom: 0;
				border-bottom-width: 2px;
			}
		}
	}
}

.nav-lined-vertical {
	&:extend(.nav-base-vertical all);
	
	> header {
		> a, > span {
			padding-left: 2px;
		}
	}

	ul > li {
		> a, > span {
			margin-left: 1px;				
			border-left: 1px solid transparent;
		}

		&.active {
			> a, > span {
				margin-left: 0;
				border-left-width: 2px;
			}
		}
	}
}