@import "variables.less";

.nav {
	.clearfix;
	
	ul {
		display: inline-block;
	}
	
	> a, > span {
		display: inline-block;
		padding: @nav-padding;
		font-size: 0.9em;
		text-transform: uppercase;
	}
	
	ul > li {
		display: inline-block;
		
		>a , > span {
			display: block;
			padding: @nav-padding;
			text-decoration: none;
			border-radius: @nav-border-radius;
			border: 1px solid transparent;
		}

		a:hover {
			background: @nav-hover-bg;
		}
		
		&.active {
			> a, > span {
				border-color: @nav-active-color;
			}
		}
		
		&[disabled],
		&.disabled {
			> a, > span {
				color: @control-disabled-color;
				background: none;
				cursor: @control-disabled-cursor;
			}
		}
	}
	
	&.vertical {
		> a, > span {
			display: block;
			border-bottom: 1px solid @color-border;
			margin-top: @nav-heading-margin-top;
		}
		
		ul {
			display: block;
		}
		
		ul > li {
			display: block;
			
			> ul {
				margin-left: 2em;
			}
		}
	}
}

.nav.lined {
	ul > li {
		> a, > span {
			border: none;
			margin-bottom: 3px;
		}
		
		&.active {
			> a, > span {
				margin-bottom: 0;
				border-bottom: 3px solid @nav-active-color;
				border-bottom-left-radius: 0;
				border-bottom-right-radius: 0;
			}
		}
	}
	
	&.vertical {
		> a, > span {
			margin-left: 3px;
		}
		
		ul > li {
			> a, > span {
				margin-bottom: 0;
				margin-left: 3px;		
			}
			
			&.active {
				> a, > span {
					border-bottom: 0;					
					margin-left: 0;
					border-left: 3px solid @nav-active-color;
					border-top-left-radius: 0;
					border-bottom-left-radius: 0;
				}
			}
		}
	}
}

nav:not(.flat) {
	&:extend(.nav all);
}