@import "variables.less";

.container-base(@width) {
	.pull-center;
	padding: 0 1em;
	max-width: @width;
}

.container-sm {
	.container-base(@width-sm);
}

.container-md {
	.container-base(@width-md);
}

.container-lg {
	.container-base(@width-lg);
}

.container-xl {
	.container-base(@width-xl);
}

.container {
	.container-base(100%);

	@media screen and (min-width: @width-sm) {
		max-width: @width-sm;
	}

	@media screen and (min-width: @width-md) {
		max-width: @width-md;
	}

	@media screen and (min-width: @width-lg) {
		max-width: @width-lg;
	}

	@media screen and (min-width: @width-xl) {
		max-width: @width-xl;
	}
}