@import "variables.less";

.container-sm {
	.center;
	max-width: @width-sm;
}

.container-md {
	.center;
	max-width: @width-md;
}

.container-lg {
	.center;
	max-width: @width-lg;
}

.container-xl {
	.center;
	max-width: @width-xl;
}