// main
@body-bg:					#fff;
@transition-duration:		0.2s;
@transition-default:		color @transition-duration, background-color @transition-duration, border-color @transition-duration, transform @transition-duration;

// Typography
@font-family-base:			"Helvetica Neue", Helvetica, Tahoma, sans-serif;
@font-family-headings:		@font-family-base;

@font-size-base:			15px;
@font-size-xl:				1.5em;
@font-size-lg:				1.2em;
@font-size-md:				1em;
@font-size-sm:				.85em;
@font-size-xs:				.75em;
@line-height:				1.65em;
@fa-font-size-base:			14px;

// Colors
@color-text:				#222;
@color-headings:			black;
@color-invert:				white;
@color-primary:				#105c9a;
@color-secondary:			#56b9d9;
@color-gray:				#565d64;
@color-border:				#bdbdbd;
@color-light:				#f4f4f4;
@color-success:				rgb(28, 184, 65);
@color-warning:				rgb(223, 117, 20);
@color-error:				rgb(202, 60, 60);

// Widths
@width-sm:					35.5em;
@width-md:					48em;
@width-lg:					64em;
@width-xl:					80em;

@width-phone:				@width-sm;
@width-tablet:				@width-md;
@width-desktop:				@width-lg;

// Links
@link-color:				@color-primary;
@link-hover-color:			darken(@link-color, 15%);
@link-transition:			@transition-default;

// Code
@code-font-family:			Menlo, Monaco, Consolas, "Courier New", monospace;
@code-bg-color:      		@color-light;
@code-border-color:			@color-border;

// Controls
@control-font-family:			@font-family-base;
@control-padding:				.3em .5em;
@control-bg:					white;
@control-border:				1px solid @color-border;
@control-border-radius:			2px;
@control-disabled-color:		darken(@color-light, 25%);
@control-disabled-bg:           @color-light;
@control-disabled-cursor:		not-allowed;
@control-active-border-color:	@color-primary;
@control-transition:			@transition-default;

@control-width-xs:				12em;
@control-width-sm:				24em;
@control-width-md:				36em;
@control-width-lg:				48em;
@control-width-xl:				64em;

// Buttons
@btn-color:					@color-invert;
@btn-bg:					#aaa;
@btn-font-weight:			normal;
@btn-hovering:				15%;
@btn-border:				1px solid;
@btn-border-radius:			4px;
@btn-padding:				.25em 1em;
@btn-transition:			@link-transition;

// Table
@table-border:				1px solid @color-border;
@table-header-bg:			transparent;
@table-row-bg:				transparent;
@table-footer-bg:			transparent;
@table-odd-bg:				@color-light;
@table-hover-bg:			@color-secondary;
@table-transition:			background @transition-duration;

// Navigation
@nav-padding:				@btn-padding;
@nav-heading-margin-top:	.5em;
@nav-border-radius:			@control-border-radius;
@nav-hover-bg:				@color-light;
@nav-active-color:			@color-invert;
@nav-active-bg:				@color-primary;

// Form
// @form-row-outline:			solid 1px @color-gray-light;
//
// // Drag
// @drag-bg:					lighten(@color-secondary, 20%);
// @drag-border:				1px dashed @color-gray;
// @over-bg:					rgba(255, 255, 255, 0.7);
//
// // Admin
// @admin-bg:					rgba(255, 255, 255, 0.9);
// @admin-border:				solid 1px @color-gray-light;