// main
@body-bg:					#fff;
@transition-duration:		0.2s;
@transition-default:		color @transition-duration, background @transition-duration, border-color @transition-duration, transform @transition-duration, box-shadow @transition-duration;
@transition-webkit:			color @transition-duration, background @transition-duration, border-color @transition-duration, -webkit-transform @transition-duration, box-shadow @transition-duration;

// Typography
@font-family-base:			"Helvetica Neue", Helvetica, Tahoma, sans-serif;
@font-family-headings:		@font-family-base;

@font-size-base:			15px;
@font-size-xl:				1.5rem;
@font-size-lg:				1.2rem;
@font-size-md:				1rem;
@font-size-sm:				.85rem;
@font-size-xs:				.75rem;
@font-size-fa:				14px;
@line-height:				1.5;
@line-margin:				1em;

// Colors
@color-text:				#222;
@color-headings:			black;
@color-invert:				white;
@color-gray:				#565d64;
@color-border:				#bdbdbd;
@color-light:				#f4f4f4;

@color-primary:				#105c9a;
@color-secondary:			#56b9d9;
@color-success:				#5cb85c;
@color-warning:				rgb(223, 117, 20);
@color-error:				rgb(202, 60, 60);

@color-bg-primary:			lighten(@color-primary, 40%);
@color-bg-secondary:		lighten(@color-secondary, 30%);
@color-bg-success:			lighten(@color-success, 40%);
@color-bg-warning:			lighten(@color-warning, 40%);
@color-bg-error:			lighten(@color-error, 40%);

// Widths
@width-phone:				21rem; // min phone width
@width-tablet:				50rem; // min tablet width
@width-desktop:				70rem; // min desktop width
@width-hd:					90rem; // min hd width

@width-xs:					12rem;
@width-sm:					24rem;
@width-md:					36rem;
@width-lg:					48rem;
@width-xl:					64rem;

// Container paddings
@padding-phone: 			.5rem;
@padding-tablet: 			1rem;
@padding-desktop: 			1rem;
@padding-hd: 				2rem;

// Links
@link-color:				@color-primary;
@link-hover-color:			darken(@link-color, 15%);
@link-transition:			@transition-default;
@link-transition-webkit:	@transition-webkit;

// Code
@code-font-family:			Menlo, Monaco, Consolas, "Courier New", monospace;
@code-bg-color:      		@color-light;
@code-border-color:			@color-border;

// Grid
@grid-columns:				12;
@blocks-count:				10;

// Controls
@control-font-family:			@font-family-base;
@control-padding-v:				.6em;
@control-padding-h:				.5em;
@control-color:					black;
@control-bg:					white;
@control-border-width:			1px;
@control-border:				@control-border-width solid @color-border;
@control-border-radius:			2px;
@control-disabled-color:		darken(@color-light, 25%);
@control-disabled-bg:           @color-light;
@control-disabled-cursor:		not-allowed;
@control-active-color:			@color-primary;
@control-focus-fade:			30%;
@control-focus-blur:			0;
@control-focus-spread:			2px;
@control-transition:			@transition-default;
@control-transition-webkit:		@transition-webkit;
@control-multiline-height:		1.35;

// Buttons
@btn-color:					@color-invert;
@btn-bg:					#aaa;
@btn-font-weight:			normal;
@btn-hovering:				15%;
@btn-border-darken:			5%;
@btn-border-width:			1px;
@btn-border-radius:			4px;
@btn-border-style:			solid;
@btn-padding:				@control-padding-v 0.9em;
@btn-focus-fade:			50%;
@btn-focus-blur:			@control-focus-blur;
@btn-focus-spread:			@control-focus-spread;
@btn-active-shadow:			0 0px 7px rgba(0, 0, 0, .5) inset;
@btn-transition:			@link-transition;
@btn-transition-webkit:		@link-transition-webkit;

// Table
@table-border:				1px solid @color-border;
@table-header-bg:			transparent;
@table-row-bg:				transparent;
@table-footer-bg:			transparent;
@table-odd-bg:				@color-light;
@table-hover-bg:			@color-secondary;
@table-transition:			background @transition-duration;

// Navigation
@nav-padding:				.4em 1em;
@nav-heading-margin-top:	.5em;
@nav-border-width:			1px;
@nav-border-radius:			@control-border-radius;
@nav-hover-bg:				@color-light;
@nav-active-color:			@color-invert;
@nav-active-bg:				@color-primary;
@nav-spacing:				0;

// Form
@form-aligned-left:			1;
@form-aligned-right:		3;
@form-aligned-columns:		@form-aligned-left + @form-aligned-right;